@using YAF.Core.Context
@using YAF.Web.HtmlHelpers
@using YAF.Types.Constants

@inject BoardContext Current

@if (BoardContext.Current.IsAdmin)
{
	var currentPageName = Enum.GetName(Current.CurrentForumPage.PageName);

	var isAdminPage = Current.CurrentForumPage.IsAdminPage
                      && Current.CurrentForumPage.PageName is not (ForumPages.Admin_HostSettings or ForumPages.Admin_Boards or ForumPages.Admin_EditBoard or ForumPages.Admin_PageAccessEdit or ForumPages.Admin_PageAccessList);

    if (currentPageName != null && currentPageName.StartsWith("Host_"))
    {
	    isAdminPage = false;
    }

    <li class="nav-item dropdown">
        <a class="@Html.Raw(isAdminPage ? " nav-link dropdown-toggle active" : "nav-link dropdown-toggle")"
           role="button"
           href="#"
           data-bs-toggle="dropdown"
           aria-expanded="false"
           text-localized-page="ADMINMENU"
           text-localized-tag="ADMIN">
        </a>
        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            @Html.AdminMenu()
        </ul>
    </li>
}