body, td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 7.5pt;
	color:#404040;
}

input{font:8pt Verdana,Arial,Helvetica,sans-serif}

select{background:#ffffff;font:8pt Verdana,Arial,Helvetica,sans-serif}

textarea
{
	background:#ffffff;
	border:1px solid #404040;
	font:8pt Verdana,Arial,Helvetica,sans-serif;
	padding-bottom:2px;
	padding-left:2px
}

form{display:inline}

input{border:1px solid #404040;font-size:8pt;}

input.pbutton{background:#EEEEEE;}

/* For BBCode Post Buttons */
.ButtonOut
{
	filter: alpha(opacity=70);
	border: #7F9DB9 1px solid;
}
.ButtonOver
{
	background-color: #FFE1AC;
	border: #FFAD55 1px solid;
}
.ButtonChecked
{
	background-color: #FFCB7E;
	border: #FFAD55 1px solid;
}
.ButtonOff
{
	filter: gray() alpha(opacity=30);
	background-color: #C0C0C0;
	border: #7F9DB9 1px solid;
}

/*  */
img 
{
	border: 0;
}

/* hyperlinks */
a		{ text-decoration: none; color: #E00000; }
a:hover		{ text-decoration: underline; }

/* Header 1 - Main header */
.header1
{
	background: url('bg_header1.png');
	background-color: #353535;
	color: #FFFFFF;
	font-weight: bold;
	height: 32px;
	font-size:12px;
}

/* Links in header1 */
tr.header1 a		{color:#C00000;text-decoration:none}
tr.header1 a:hover	{color:#404040;text-decoration:none}

.header1Title
{
	color: #FFFFFF;
	font-weight: bold;
	height: 32px;
	font-size:12px;	
}

/* Header 2 - Sub header */
.header2
{
	background-color: #DDDDDD;
	color: #252525;
	font-weight: bold;
	height: 28px;
}
a.header2 { height: auto; background-color: Transparent; border-style: none; background-image: none; }

td.header2links a				{color: #3A4F6C;text-decoration:none;font-size:7.5pt;}
td.header2links	a:hover	{color: #3A4F6C;text-decoration:none;font-size:7.5pt;}

/* Footer1 - Bottom of tables */
.footer1
{
	font-size: 7pt;
	height: 28px;
	background-color:#fbfbfb;
}

.footer1 select, .footer1 td
{
	font-size: 7pt;
}

.UserBox
{
	font-size:7.5pt;	
	color:#808080;
}

.postformheader 
{
	background-color: #D1D1D1;
	font-weight:bold;
}

/* Header of posts */
.postheader 
{
	background-color: #eaeaea;
	color:#505050;
}

.postheader a
{
	font-size:10pt;
	
}

/* User info and post/article */
.post 
{
	background-color: #F0F0F0;
	color:#404040;
}

.post_alt
{
	background-color: #F5F5F5;
	color:#404040;	
}

.post_priority
{
	font-weight:bold;
}

.post_link
{
	font-size:10pt;
	font-weight:bold;
}

/* Footer of posts */
.postfooter 
{
    background-color: #eaeaea;
}

/* Area between posts */
.postsep 
{
	background-color: #939393;
	height: 2px 
}

/* most tables are class 'content' */
.content
{
	font-family: verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
	border: solid 1px #505050;
	color: #000000;
	padding: 0px;
	background-color: #FFFFFF;	
	filter: progid:DXImageTransform.Microsoft.Shadow(color='gray', Direction=135, Strength=3));
}

.content td {
	padding: 3px;
}

.content td table td table td {
	padding: 0px;	
}

.forumheading 
{
	font-size:10pt;
	font-weight:bold;
}

.forumviewing
{
	font-size:8pt;
	color:#a0a0a0;
}
.forumsubheading
{
	font-size:7.5pt;
}

#RichEdit td 
{
	padding: 0px;
}

/* links inside content table*/
.content a		{ color: #C02020; text-decoration: underline; }
.content a:hover	{ color: #C00000; text-decoration: none; }

/* used for quoting messages */
.quote 
{
	margin-left: 16px;
	padding-left: 16px;
}

.innerquote 
{
	padding: 4px;
	background-color: #d1d1d1;
	border: solid 1px #505050;
}

/* used for code */
.code
{
	margin-left: 16px;
	padding-left: 16px;	
}

.innercode
{
	padding: 4px;
	background-color: #efefef;
	border: solid 1px #808080;
	color:#000000;
	font-size:8pt;
	font-family:Courier New,Courier;
}

/* font sizes */
.smallfont	{ font-size: 7.5pt; }
.largefont	{ font-size: 9pt; }

/* Image Links */
a.imagelink 
{
	font-size: 8pt;
	font-weight: bold;
	color: #000080;
}
a:hover.imagelink
{
	text-decoration: underline;
	color: #0000FF;
	/*background-color: #D0D0D0;*/
}

/* Used for editor textarea */
.posteditor 
{
	width: 100%;
	height: 200px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
}

/* Table just above and below tables */
table.command 
{
	/*border: solid 1px blue;*/
	padding: 3px;
}

/* p-tag at the top of pages with navigation links */
.navlinks { font-weight: bold; color: #333333; font-size: 9pt; }
.navlinks a { color: #000000; text-decoration: none; }
.navlinks a:hover { color: #C00000; text-decoration: underline; }
.navlinks #current { color: #900000; } 

/* for printing */
.print 
{
	border: solid 1px #C0C0C0;
}
.printheader 
{
	background-color: #DDDDDD;
	color: #000000;
	padding: 4px;
}
.printbody 
{
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
}

/*
Use this to setup overflow feature for your site.
On IE that would mean specifying a width so that the overflow will work properly.
This CSS already works on FireFox.
*/
div.postdiv
{
	width: 100%;
	min-height: 100px;
	overflow: auto;	
}