/*
	This File is for basic LAYOUT CSS -- Not for Color/Design which should stay in the theme.css file
*/
#yafmain .quickReplyLine
{
	padding: 5px 10px 5px 5px;
	height:100px;	
}
#yafmain textarea.basicBBCodeEditor 
{
	width: 100%;
	height: 100%;
}
#yafmain textarea.BBCodeEditor 
{
	width: 100%;
	height: 350px;
}
#yafmain #DivForumJump
{
	float:right;
	margin-top: 10px;
}
#yafmain #DivPageAccess
{
	clear:right;
	float:right;
	margin-top: 10px;
}
#yafmain #DivIconLegend
{
	float:left;
	margin-top: 10px;
}
#yafmain #DivSmartScroller
{
	clear:both;
}
#yafmain .postsep td
{
	padding:0px;
}
#yafmain .yafpopupmenu
{
	padding:0px;
}
#yafmain .fileattach
{
	margin: 15px 0px 0px 0px;
}
#yafmain #yafprofilemenu
{
	float:left;
	width: 150px;
	margin: 5px 5px 5px 0px;
}
#yafmain #yafprofilecontent
{
	margin: 5px 0px 5px 0px;
	float: left;
}