textarea.basicBBCodeEditor 
{
	width: 100%;
	height: 100%;
}
textarea.BBCodeEditor 
{
	width: 100%;
	height: 350px;
}
#DivForumJump
{
	float:right;
	margin-top: 10px;
}

#DivPageAccess
{
	clear:right;
	float:right;
	margin-top: 10px;
}
#DivIconLegend
{
	float:left;
	margin-top: 10px;
}
#DivSmartScroller
{
	clear:both;
}
.postsep td
{
	padding:0px;
}