<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls d-none">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev btn btn-secondary" aria-label="previous">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="next btn btn-secondary" aria-label="next">
        <i class="fas fa-chevron-right"></i>
    </a>
    <a class="btn btn-secondary close" aria-label="close">
        <i class="fas fa-times"></i>
    </a>
    <a class="play-pause" aria-label="play-pause"></a>
    <ol class="indicator"></ol>
</div>