@using YAF.Web.HtmlHelpers

@model YAF.Types.Modals.BannedEmailEditModal

<!-- Modal -->
<div class="modal fade" id="EditDialog" tabindex="-1" role="dialog" aria-labelledby="EditDialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Html.LocalizedText("ADMIN_BANNEDEMAIL_EDIT", Model.Id is > 0 ? "TITLE_EDIT" : "TITLE")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="BannedEmail" asp-action="Edit" class="needs-validation">
                    <!-- Modal Content START !-->
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <div class="mb-3">
                        <label info-button="true" class="form-label"
                               asp-for="Mask"
                               localized-tag="MASK" localized-page="ADMIN_BANNEDEMAIL_EDIT"></label>
                        <input asp-for="Mask" class="form-control" required="required" type="email"/>
                        <div class="invalid-feedback">
                            @Html.LocalizedText("ADMIN_BANNEDEMAIL_EDIT","NEED_MASK")
                        </div>
                    </div>
                    <div class="mb-3">
                        <label info-button="true" class="form-label"
                               asp-for="BanReason"
                               localized-tag="REASON" localized-page="ADMIN_BANNEDEMAIL_EDIT"></label>
                        <textarea asp-for="BanReason" class="form-control" maxlength="128" height="100"></textarea>
                    </div>
                    <!-- Modal Content END !-->
                </form>
            </div>
            <div class="modal-footer">
                <button button-style="Primary" data-bs-save="editModal"
                        text-localized-tag="@(Model.Id is > 0 ? "SAVE": "ADD_IP")"
                        text-localized-page="ADMIN_BANNEDEMAIL"
                        Icon="save">
                </button>
                <button type="button" button-style="Secondary" icon="xmark" data-bs-dismiss="modal" text-localized-tag="CANCEL"></button>
            </div>
        </div>
    </div>
</div>