@using YAF.Web.HtmlHelpers

@model YAF.Types.Modals.ReplaceWordsEditModal

<!-- Modal -->
<div class="modal fade" id="ReplaceWordsEditDialog" tabindex="-1" role="dialog" aria-labelledby="ReplaceWordsEditDialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
	                @Html.LocalizedText("ADMIN_REPLACEWORDS_EDIT", Model.Id is > 0 ? "TITLE_EDIT" : "TITLE")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="ReplaceWords" asp-action="Edit" class="needs-validation">
                    <!-- Modal Content START !-->
                    <input asp-for="Id" type="hidden" value="@Model.Id" />

                    <div class="mb-3">
                        <label info-button="true" class="form-label"
                                       asp-for="BadWord"
                                       localized-tag="BAD" localized-page="ADMIN_REPLACEWORDS_EDIT"></label>
                        <textarea asp-for="BadWord"
                                     class="form-control"
                                     required="required"
                                     height="100"></textarea>
                        <div class="invalid-feedback">
                            @Html.LocalizedText("ADMIN_REPLACEWORDS_EDIT", "MSG_REGEX_BAD")
                        </div>
                    </div>
                    <div class="mb-3">
                        <label info-button="true" class="form-label"
                               asp-for="GoodWord"
                               localized-tag="GOOD" localized-page="ADMIN_REPLACEWORDS_EDIT"></label>
                        <textarea asp-for="GoodWord" class="form-control" height="100"></textarea>
                    </div>
                    <!-- Modal Content END !-->
                </form>
            </div>
            <div class="modal-footer">
                <button button-style="Primary" data-bs-save="editModal"
                        text-localized-tag="@(Model.Id is > 0 ? "SAVE": "ADD")"
                        text-localized-page="ADMIN_REPLACEWORDSL"
                        Icon="save">
                </button>
                <button type="button" button-style="Secondary" icon="xmark" data-bs-dismiss="modal" text-localized-tag="CANCEL"></button>
            </div>
        </div>
    </div>
</div>