@using YAF.Web.HtmlHelpers

@model YAF.Types.Modals.SpamWordsEditModal

<!-- Modal -->
<div class="modal fade" id="SpamWordsEditDialog" tabindex="-1" role="dialog" aria-labelledby="SpamWordsEditDialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Html.LocalizedText("ADMIN_SPAMWORDS_EDIT", Model.Id is > 0 ? "TITLE_EDIT" : "TITLE")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="SpamWords" asp-action="Edit" class="needs-validation">
                    <!-- Modal Content START !-->
                    <input asp-for="Id" type="hidden" value="@Model.Id" />

                    <div class="mb-3">
                        <label info-button="true" class="form-label"
                                       asp-for="SpamWord"
                                       localized-tag="BAD" localized-page="ADMIN_SPAMWORDS_EDIT"></label>
                        <input type="text" asp-for="SpamWord"
                               class="form-control"
                               required="required"
                               height="100"/>
                        <div class="invalid-feedback">
                            @Html.LocalizedText("ADMIN_SPAMWORDS_EDIT", "NEED_SPAM")
                        </div>
                    </div>
                    <!-- Modal Content END !-->
                </form>
            </div>
            <div class="modal-footer">
                <button button-style="Primary" data-bs-save="editModal"
                        text-localized-tag="@(Model.Id is > 0 ? "SAVE": "ADD")"
                        text-localized-page="ADMIN_SPAMWORDSL"
                        Icon="save">
                </button>
                <button type="button" button-style="Secondary" icon="xmark" data-bs-dismiss="modal" text-localized-tag="CANCEL"></button>
            </div>
        </div>
    </div>
</div>