@import "jsdifflib.scss";
@import "prism";
@import "jquery.selectedQuoting";
@import "jquery.hovercard.scss";
@import "bootstrap-notify";

@import "fontawesome/fontawesome-all";
@import "flag-icons/flag-icon.scss";

// -- TableSorter Plugin
@import "tablesorter/theme.bootstrap_4.min";

// --Bootstrap extensions
@import "select2/select2";
@import "bootstrap-tagsinput";
@import "select2/select2-bootstrap";
@import "bootstrap-datetimepicker";

@import "blueimp-gallery.scss";

// --Forum imports
@import "forum/attachments-upload.scss";
@import "forum/dropdowns.scss";
@import "forum/user-albums.scss";
@import "forum/social-icons.scss";
@import "forum/cookie-alert.scss";
@import "forum/button-scroll.scss";

// -- Main
#YafBody {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

// -- Topic Title
.topic-title {
    white-space: pre-wrap;
}

// -- MultiQuote Button
.MultiQuoteButton {
    display: inline-block;

    label {
        margin-top: -1px;
    }

    .fa-stack {
        margin-top: -2px;
    }
}


.list-inline {
    margin: 0;
}

// -- Main Menu
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

// -- Similar topic lists
.list-similar {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.navbar-round {
    border-radius: 4px;
    border: 1px solid #e7e7e7;
}

#passwordStrength {
    padding: 0 .7em;

    .PasswordStrengthMessageIcon {
        display: inline-block;
        vertical-align: bottom;
        margin-right: .3em;
    }
}

// -- Scrollable Mobile Dropdowns
.scrollable-dropdown {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

// Small Avatars inside Posts
.img-avatar-sm {
    max-height: 40px;
}

.img-navbar-avatar {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    min-width: 0.9rem;
    max-width: 1.2rem;
    max-height: 1.2rem;
    font-size: 2rem;
    vertical-align: middle;
}

// Quotes
.blockquote-custom {
    position: relative;
}

.blockquote-custom-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    left: 50px;
}

// Thanks Popover
.popover-body-scrollable {
    max-height: 200px;
    overflow-y: scroll;
}

// Unread Icon
.unread {
    position: absolute;
    top: 8px;
    left:16px;
}