@import "jquery.hovercard.scss";
@import "bootstrap-notify";

@import "jquery.emojipicker";

// -- TableSorter Plugin
@import "tablesorter/theme.bootstrap_4.min";
@import "tablesorter/jquery.tablesorter.pager.min";

// --Bootstrap extensions
@import "css/select2";
@import "css/select2-bootstrap";

@import "jquery.bootstrap-touchspin";
@import "bootstrap-datetimepicker";

// --Forum imports
@import "forum/attachments-upload.scss";
@import "forum/dropdowns.scss";
@import "forum/editor.scss";
@import "forum/user-albums.scss";
@import "forum/cookie-alert.scss";

// -- Main
#YafBody {
    margin: 0;
    padding: 5px;
    width: 99%
}

// --Pager
.gotoPageForm {
    z-index: 99999;
}

// --Help Label
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

// --Spinner Input
.bootstrap-touchspin {
    width: 250px;
}

// user search
.user-search-dropdown {
    .form-control {
        width: inherit;
    }
}

// pagination
.pagination {
    margin-bottom: 0.30rem;
}

// menu dropdown
.dropdown-menu > li > span > a {
    color: #333;
}