@import "jquery.hovercard.scss";
@import "bootstrap-notify";

@import "fontawesome/fontawesome-all";
@import "flag-icons/flag-icon.scss";

// -- TableSorter Plugin
@import "tablesorter/theme.bootstrap_4.min";
@import "tablesorter/jquery.tablesorter.pager.min";

// --Bootstrap extensions
@import "select2/select2";
@import "select2/select2-bootstrap";
@import "bootstrap-datetimepicker";

// --Forum imports
@import "forum/attachments-upload.scss";
@import "forum/dropdowns.scss";
@import "forum/user-albums.scss";
@import "forum/cookie-alert.scss";
@import "forum/button-scroll.scss";

// -- Main
#YafBody {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

// -- Main Menu
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

// Radio Button Lists
span.form-check {
    padding: 0px;
}

span.form-check > input[type="radio"] {
    margin: 8px -5px 7px 0px;
    display: block;
    float: left;
}

span.form-check > label {
    margin-right: 5px;
    margin-left: 5px;
    padding: 0px 5px 0px 10px;
    display: block;
}

.list-inline {
    margin: 0;
}

// --Pager
.gotoPageForm {
    z-index: 99999;
}

// --Spinner Input
.bootstrap-touchspin {
    width: 250px;
}

// user search
.user-search-dropdown {
    .form-control {
        width: inherit;
    }
}

// pagination
.pagination {
    margin-bottom: 0.30rem;
}

// menu dropdown
.dropdown-menu > li > span > a {
    color: #333;
}

// --Event log
.pre-scrollable {
    overflow: auto;
    white-space: pre-line;
}

.img-navbar-avatar {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    min-width: 0.9rem;
    max-width: 1.2rem;
    max-height: 1.2rem;
    font-size: 2rem;
    vertical-align: middle;
}

// Unread Icon
.unread {
    position: absolute;
    top: 8px;
    left: 16px;
}