@import "jquery.ceebox.scss";
@import "jquery.hovercard.scss";
@import "jquery.notification.scss";
@import "jquery.yafmodaldialog.scss";
@import "jsdifflib.scss";
@import "jquery.tablesorter.scss";
@import "prism";
@import "css/select2";
@import "jquery.selectedQuoting";

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    background: #212327;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;

    &.show {
        opacity: 1;
        transform: translateY(0%);
        transition-delay: 1000ms;
    }

    .acceptcookies {
        margin-right: 10px!important;
        vertical-align: baseline;
    }
}

.content {
  padding: 0;
}

.PopupBody {
  margin: 0;
  padding: 0;
  .ShoutBoxPanel .content {
    position: absolute;
    top: 5px;
    bottom: 0;
    right: 0;
    left: 5px;
    height: 97%;
    width: 99%;
    min-height: 300px;
  }
}

#shoutBoxChatArea {
  overflow-y: auto;
  height: 150px;
  min-width: 500px;
  width: 99%;
  padding: 0;
  margin: 0;
}

.yafnet {
    .quickReplyLine {
        padding: 5px 10px 5px 5px;
        height: 100%;
    }

    textarea {
        &.basicBBCodeEditor {
            width: 100%;
            height: 100%;
        }

        &.BBCodeEditor {
            width: 100%;
            height: 350px;
        }
    }

    #DivForumJump {
        float: right;
    }

    #ForumSearchDiv {
        display: inline;
        float: left;
    }

    #DivPageAccess {
        clear: right;
        float: right;
        margin-top: 10px;
    }

    #DivIconLegend {
        float: left;
        margin-top: 10px;
    }

    .leftItem {
        float: left;
    }

    .rightItem {
        float: right;
    }

    .centerItem {
        text-align: center;
        margin: 0 auto;
    }

    .postNavigation td {
        text-align: right;
    }

    .clearItem, #DivSmartScroller {
        clear: both;
    }

    .postsep td {
        padding: 0;
    }

    .yafnet div.postdiv {
        -ms-word-break: break-word;
        word-break: break-word;
    }

    .yafpopupmenu {
        padding: 0;
    }

    .fileattach {
        margin: 15px 0 0 0;
    }

    #yafprofilemenu {
        float: left;
        width: 150px;
        margin: 5px 5px 5px 0;
        clear: left;
    }

    .RssFeedIcon {
        margin-left: 5px;
    }

    #yafhelpmenu ul {
        list-style: none;
    }

    #yafheaderEnd {
        clear: both;
    }

    .loggedInUser {
        float: right;
    }

    .outerMenuContainer {
        float: left;
        width: 100%;
        line-height: 30px;
    }

    .menuContainer {
        float: left;
    }

    .menuMyContainer {
        float: right;
    }

    #yafheader {
        ul {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
            padding: 2px 3px 2px 3px;
        }
    }

    .QuickSearch {
        display: inline;
        float: right;
        padding: 0 4px 0 4px;
    }

    #yafprofilecontent {
        margin: 5px 0 5px 0;
        width: 80%;
        float: right;
    }

    td.forumIconCol {
        width: 1%;
    }

    .threadedRowCollapsed .avatarimage {
        vertical-align: middle;
        width: 40px;
        height: 40px;
        padding: 1px;
        border: 1px solid #666;
        margin-right: 8px;
    }

    .selectionQuoteable, div.code div, div.code {
        max-width: 75vw;
        word-break: break-word;
    }

    .adminContainer {
        width: 100%;
    }

    .adminMenu {
        padding: 5px;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            white-space: nowrap;
            font-size: 10pt;
            border-bottom: 1px solid #eee;
            padding-bottom: 4px;
            margin-bottom: 5px;

            img {
                vertical-align: bottom;
            }
        }
    }

    .adminMenuAccordian {
        width: 200px;
    }

    .quotetitle {
        font-weight: bold;
    }

    .PrevTopicLink {
        margin-left: 5px;
        padding: 2px 4px 2px 15px;
    }

    .NextTopicLink {
        margin-left: 5px;
        padding: 2px 15px 2px 4px;
        float: right;
    }

    .pagination {
        font-size: 90%;
        text-align: center;
        margin: 0 0 0 4px;
        position: relative;

        .smiliesPagerNext {
            float: right;
        }
    }

    #SmiliesBox {
        display: block;
        overflow: auto;
        min-width: 180px;
        min-height: 100px;
    }

    .smilesBox {
        padding: 0 !important;
    }

    .SmilieList {
        margin: 4px;
        padding: 4px;

        li {
            list-style: none;
            float: left;
            padding: 0;
            margin: 0;
            min-width: 40px;
            min-height: 40px;

            img {
                max-width: 80px;
                max-height: 80px;
            }

            a {
                display: block;
                text-decoration: none;
            }
        }
    }

    .edit {
        width: 98%;
    }

    .UnreadBox {
        position: relative;
        display: inline;
    }

    .AlphaSort {
        width: 100%;
        display: inline-block;
    }

    dl.AlphaSort {
        dt {
            padding-left: 5px;
            height: 30px;
        }

        dd {
            float: left;
            width: 20px;
            height: 15px;
            text-align: center;
            margin: 10px 4px 10px 4px;

            a {
                text-decoration: none;
            }
        }
    }

    .SignatureColumn {
        vertical-align: bottom;
    }

    .MultiQuoteButton input {
        position: absolute;
        top: -9999px;
    }

    .ReputationBar {
        margin-top: 5px;
        width: 98%;
        background-color: #ccc;
        background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#9a9a9a));
        background: -moz-linear-gradient(top, #ccc, #9a9a9a);
        background: -o-linear-gradient(top, #ccc, #9a9a9a);
        text-align: center;
        border-color: black;
        text-shadow: 0 0 3px #000;
    }

    .ReputationBarText {
        margin-top: 5px;
        color: white;
    }

    .ReputationBarValue {
        background-image: none;
    }

    .BarDarkRed {
        background-color: #8b0000;
        background: -webkit-gradient(linear, left top, left bottom, from(#8b0000), to(#560000));
        background: -moz-linear-gradient(top, #8b0000, #560000);
        background: -o-linear-gradient(top, #8b0000, #560000);
        border-color: black;
    }

    .BarRed {
        background-color: #ff0000;
        background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#bf0000));
        background: -moz-linear-gradient(top, #ff0000, #bf0000);
        background: -o-linear-gradient(top, #ff0000, #bf0000);
        border-color: black;
    }

    .BarOrangeRed {
        background-color: #ff4500;
        background: -webkit-gradient(linear, left top, left bottom, from(#ff4500), to(#c73600));
        background: -moz-linear-gradient(top, #ff4500, #c73600);
        background: -o-linear-gradient(top, #ff4500, #c73600);
        border-color: black;
    }

    .BarDarkOrange {
        background-color: #ff8c00;
        background: -webkit-gradient(linear, left top, left bottom, from(#ff8c00), to(#c96e00));
        background: -moz-linear-gradient(top, #ff8c00, #c96e00);
        background: -o-linear-gradient(top, #ff8c00, #c96e00);
        border-color: black;
    }

    .BarOrange {
        background-color: #ffa500;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffa500), to(#c68000));
        background: -moz-linear-gradient(top, #ffa500, #c68000);
        background: -o-linear-gradient(top, #ffa500, #c68000);
        border-color: black;
    }

    .BarYellow {
        background-color: #ffff00;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffff00), to(#c2c200));
        background: -moz-linear-gradient(top, #ffff00, #c2c200);
        background: -o-linear-gradient(top, #ffff00, #c2c200);
        border-color: black;
    }

    .BarLightGreen {
        background-color: #06e906;
        background: -webkit-gradient(linear, left top, left bottom, from(#06e906), to(#00c500));
        background: -moz-linear-gradient(top, #06e906, #00c500);
        background: -o-linear-gradient(top, #06e906, #00c500);
        border-color: black;
    }

    .BarGreen {
        background-color: #008000;
        background: -webkit-gradient(linear, left top, left bottom, from(#008000), to(#014701));
        background: -moz-linear-gradient(top, #008000, #014701);
        background: -o-linear-gradient(top, #008000, #014701);
        border-color: black;
    }

    .BarDarkGreen {
        background-color: #006400;
        background: -webkit-gradient(linear, left top, left bottom, from(#006400), to(#013d01));
        background: -moz-linear-gradient(top, #006400, #013d01);
        background: -o-linear-gradient(top, #006400, #013d01);
        border-color: black;
    }

    .MessageHistoryLink {
        font-style: italic;
    }

    .ThanksInfo {
        font-weight: bold;
    }

    .AlbumImageList li {
        width: 60px;
        height: 80px;
        float: left;

        img {
            max-width: 60px;
            max-height: 80px;
        }
    }

    .ui-state-warning {
        border: 1px solid #ff5114;
        background: #fce3bb;
        color: #ffffff;
    }

    .EventDetails pre {
        padding: 15px;
        white-space: pre;
        white-space: pre-wrap;
        white-space: pre-line;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -hp-pre-wrap;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        border: 1px solid #999;
        background-color: #eee;
        margin: 10px;
    }

    .eventItem {
        cursor: pointer;

        table td {
            border: none !important;
            padding: 5px !important;
        }
    }

    .forumIconLegend {
        padding: 2px;
        margin: 2px;
        width: 100%;

        li {
            list-style: none;
            float: left;

            img {
                vertical-align: middle;
            }
        }
    }

    .Numeric {
        width: 50px;
    }

    .topicStatusIcon {
        border: 0;
        width: 16px;
        height: 16px;
    }

    img {
        max-width: inherit;
    }

    .emailConfirmation {
        display: none;
    }

    .selectMenuWithIcons {
        width: 500px;
    }

    option.customicon {
        background-repeat: no-repeat !important;
        padding-left: 20px;
    }

    .customicon .ui-icon {
        background-position: left top;
    }

    #yafheader {
        .loggedInUser, .menuContainer {
            display: inline;
        }
    }
}

.YAF_Pages_members .avatarimage, .YAF_Pages_team .avatarimage {
  width: 40px;
  height: 40px;
}

.yafnet {
  .forumLinkCol {
    .forumheading, .forumviewing {
      display: inline;
    }
  }
  .helpContent, .adminContent {
    width: 100%;
    vertical-align: top;
    padding-left: 5px;
  }
  .yafpopupmenu {
    ul, li {
      list-style-type: none;
    }
  }
  .adminContent li, .ui-helper-reset li, .postOptions li {
    list-style-type: none;
  }
  .PopMenuLink, .UserPopMenuLink, .GoToLink {
    cursor: pointer;
    margin: 0 0 0 5px;
    padding: 2px 15px 2px 4px;
  }
  .pagination {
    a, span {
      display: block;
      float: left;
      padding: 0.3em 0.5em;
      margin-right: 5px;
      margin-bottom: 5px;
      min-width: 1em;
      text-align: center;
    }
  }
}

#yafpage_shoutbox {
  height: 100%;
}

.yafnet {
  .showEventItem, .deleteEventItem {
    color: black !important;
  }
}

.authLogin {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  position: relative;
  display: inline-block;
  height: 22px;
  padding: 0 1em;
  border: 1px solid #999;
  border-radius: 2px;
  margin: 5px 0;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
  color: #222;
  background: #fff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  *overflow: visible;
  *display: inline;
  *zoom: 1;
  &:visited {
    position: relative;
    display: inline-block;
    height: 22px;
    padding: 0 1em;
    border: 1px solid #999;
    border-radius: 2px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    color: #222;
    background: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    *overflow: visible;
    *display: inline;
    *zoom: 1;
  }
  &:hover, &:focus, &:active {
    color: #222;
    text-decoration: none;
  }
  &:before {
    content: "";
    float: left;
    width: 22px;
    height: 22px;
    background: url('icons/authIcons.png') no-repeat 99px 99px;
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.facebookLogin {
  border-color: #29447e;
  border-bottom-color: #1a356e;
  color: #fff !important;
  background-color: #5872a7;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
  background-image: -webkit-linear-gradient(#637bad, #5872a7);
  background-image: -moz-linear-gradient(#637bad, #5872a7);
  background-image: -ms-linear-gradient(#637bad, #5872a7);
  background-image: -o-linear-gradient(#637bad, #5872a7);
  background-image: linear-gradient(#637bad, #5872a7);
  -webkit-box-shadow: inset 0 1px 0 #879ac0;
  box-shadow: inset 0 1px 0 #879ac0;
  &:visited {
    border-color: #29447e;
    border-bottom-color: #1a356e;
    color: #fff !important;
    background-color: #5872a7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
    background-image: -webkit-linear-gradient(#637bad, #5872a7);
    background-image: -moz-linear-gradient(#637bad, #5872a7);
    background-image: -ms-linear-gradient(#637bad, #5872a7);
    background-image: -o-linear-gradient(#637bad, #5872a7);
    background-image: linear-gradient(#637bad, #5872a7);
    -webkit-box-shadow: inset 0 1px 0 #879ac0;
    box-shadow: inset 0 1px 0 #879ac0;
  }
  &:hover, &:focus {
    color: #fff;
    background-color: #3b5998;
  }
  &:active {
    color: #fff;
    background: #4f6aa3;
    -webkit-box-shadow: inset 0 1px 0 #45619d;
    box-shadow: inset 0 1px 0 #45619d;
  }
  &:before {
    border-right: 1px solid #465f94;
    margin: 0 1em 0 -1em;
    background-position: 0 0;
  }
}

.twitterLogin {
  border-color: #a6cde6;
  color: #327695 !important;
  background: #cfe4f0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f5f7), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
  background-image: linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  &:visited {
    border-color: #a6cde6;
    color: #327695 !important;
    background: #cfe4f0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f5f7), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
    background-image: linear-gradient(#f1f5f7, rgba(255, 255, 255, 0));
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
  }
  &:hover, &:focus {
    color: #327695;
    border-color: #8dc2e4;
    background-color: #cadde9;
  }
  &:active {
    color: #327695;
    border-color: #8dc2e4;
    background-color: #cadde9;
    background: #cadde9;
    -webkit-box-shadow: inset 0 1px 0 #bbd6e7;
    box-shadow: inset 0 1px 0 #bbd6e7;
  }
  &:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -22px 0;
  }
}

.googleLogin {
  border-color: #3079ed;
  color: #fff;
  background: #4787ed;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(#4d90fe, #4787ed);
  background-image: -moz-linear-gradient(#4d90fe, #4787ed);
  background-image: -ms-linear-gradient(#4d90fe, #4787ed);
  background-image: -o-linear-gradient(#4d90fe, #4787ed);
  background-image: linear-gradient(#4d90fe, #4787ed);
  &:visited {
    border-color: #3079ed;
    color: #fff;
    background: #4787ed;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(#4d90fe, #4787ed);
    background-image: -moz-linear-gradient(#4d90fe, #4787ed);
    background-image: -ms-linear-gradient(#4d90fe, #4787ed);
    background-image: -o-linear-gradient(#4d90fe, #4787ed);
    background-image: linear-gradient(#4d90fe, #4787ed);
  }
  &:hover, &:focus {
    color: #fff;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(#4d90fe, #357ae8);
    background-image: -moz-linear-gradient(#4d90fe, #357ae8);
    background-image: -ms-linear-gradient(#4d90fe, #357ae8);
    background-image: -o-linear-gradient(#4d90fe, #357ae8);
    background-image: linear-gradient(#4d90fe, #357ae8);
  }
  &:active {
    color: #fff;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(#4d90fe, #357ae8);
    background-image: -moz-linear-gradient(#4d90fe, #357ae8);
    background-image: -ms-linear-gradient(#4d90fe, #357ae8);
    background-image: -o-linear-gradient(#4d90fe, #357ae8);
    background-image: linear-gradient(#4d90fe, #357ae8);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  &:before {
    margin: 0 1em 0 -1em;
    background-position: -88px 0;
    background-color: #e6e6e6;
  }
}

.TwitterIcon {
  background: url('icons/authIcons.png') no-repeat -22px 0;
  margin: 0 0.6em 0 -0.6em;
  padding: 2px 10px 6px 5px;
  content: '';
}

.FacebookIcon {
  background: url('icons/authIcons.png') no-repeat 0 0 #5872a7;
  margin: 0 0.6em 0 -0.6em;
  padding: 2px 10px 6px 5px;
  content: '';
}

.GoogleIcon {
  background: url('icons/authIcons.png') no-repeat -88px 0;
  margin: 0 0.6em 0 -0.6em;
  padding: 2px 10px 6px 5px;
  content: '';
}

/* Drop Downs */

.standardSelectMenu {
  width: 350px;
}

.ui-selectmenu-button {
  vertical-align: middle;
}

.ui-menu, .ui-menu-icons {
  max-height: 200px;
}

/* Attachments List Drop Down */

.AttachmentListMenu {
  width: 300px;
  height: 250px;
  li {
    width: 280px;
    span {
      padding: 0 0 0 5px;
      vertical-align: super;
    }
  }
}

.AttachmentList li img, .PostAttachmentList li img {
  width: 24px;
  height: 24px;
}

.AttachmentList span {
  width: 210px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.PostAttachmentList {
  padding: 0;
  list-style: none;
  li {
    border-bottom: 1px dotted black;
    padding: 5px 0 5px 0;
    span {
      text-decoration: underline;
      padding: 0 0 0 5px;
      vertical-align: super;
      width: 400px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
  }
}

.UploadNewFileLine {
  text-align: center;
  display: block;
}

a.OpenUploadDialog {
  float: none !important;
  margin: 0 !important;
  padding: 0;
  cursor: pointer;
}

#dropzone {
  width: auto;
  padding: 30px 0;
  text-align: center;
  margin: 20px auto;
}

/* Attachments Upload Dialog */

#UploadFilesBox {
  -moz-min-width: 480px;
  -ms-min-width: 480px;
  -o-min-width: 480px;
  -webkit-min-width: 480px;
  min-width: 480px;
  width: 480px;
  float: left;
  overflow: auto;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  max-height: 275px;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

#fileupload {
  .preview {
    -moz-min-width: 80px;
    -ms-min-width: 80px;
    -o-min-width: 80px;
    -webkit-min-width: 80px;
    min-width: 80px;
    display: block;
  }
  .name {
    width: 288px;
    -ms-word-break: break-all;
    -moz-word-break: break-all;
    -o-word-break: break-all;
    word-break: break-all;
    font-weight: bold;
  }
  .size {
    font-style: italic;
  }
  .error {
    color: red;
  }
}

#passwordStrength {
  padding: 0 .7em;
  .PasswordStrengthMessageIcon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: .3em;
  }
}