@import "jquery.hovercard.scss";
@import "bootstrap-notify";

@import "jquery.emojipicker";

// -- TableSorter Plugin
@import "tablesorter/theme.bootstrap_4.min";
@import "tablesorter/jquery.tablesorter.pager.min";

// --Bootstrap extensions
@import "css/select2";
@import "css/select2-bootstrap";

@import "jquery.bootstrap-touchspin";
@import "bootstrap-datetimepicker";

// --Forum imports
@import "forum/attachments-upload.scss";
@import "forum/dropdowns.scss";
@import "forum/editor.scss";
@import "forum/user-albums.scss";
@import "forum/cookie-alert.scss";

// --Pager
.gotoPageForm {
    z-index: 99999;
}

// --Topbar
 .navbar {
        padding: 0;
}
 .breadcrumb {
     padding:0 0 0 1rem;
     margin:0;
     background-color: transparent;
 }



// --Admin Sidebar

.sidebar {
    padding: 0;
    margin: 0!important;
    left:0;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 15px;
    li {
        padding: 0;
    }
    a {
        padding: 10px 15px;
        &.active {
            color: black;
        }
    }
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
    }
}

// --Help Label
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

// --Spinner Input
.bootstrap-touchspin {
    width: 250px;
}

// user search
.user-search-dropdown {
    .form-control {
        width: inherit;
    }
}

// pagination
.pagination {
    margin-bottom: 0.30rem;
}

// menu dropdown
.dropdown-menu > li > span > a {
    color: #333;
}