@import "bootstrap/bootstrap.scss";
@import "forum/Install/ladda.scss";

html {
  background: url(images/InstallBackground.jpg) no-repeat center center fixed;
  background-size: cover;
}

.infoMessage {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
  h4 {
    margin-top: 0;
    color: inherit;
  }
  .alert-link {
    font-weight: bold;
  }
  > {
    p, ul {
      margin-bottom: 0;
    }
    p + p {
      margin-top: 5px;
    }
  }
  hr {
    border-top-color: #a6e1ec;
  }
  .alert-link {
    color: #245269;
  }
}

.infoLabel {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #337ab7;
}

a.infoLabel {
  &:hover, &:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}

.infoLabel:empty {
  display: none;
}

.btn .infoLabel {
  position: relative;
  top: -1px;
}

.infoLabel[href] {
  &:hover, &:focus {
    background-color: #286090;
  }
}

.warningMessage {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
  h4 {
    margin-top: 0;
    color: inherit;
  }
  .alert-link {
    font-weight: bold;
  }
  > {
    p, ul {
      margin-bottom: 0;
    }
    p + p {
      margin-top: 5px;
    }
  }
  hr {
    border-top-color: #f7e1b5;
  }
  .alert-link {
    color: #66512c;
  }
}

.warningMessageDismissable {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
  padding-right: 35px;
  h4 {
    margin-top: 0;
    color: inherit;
  }
  .alert-link {
    font-weight: bold;
  }
  > {
    p, ul {
      margin-bottom: 0;
    }
    p + p {
      margin-top: 5px;
    }
  }
  hr {
    border-top-color: #f7e1b5;
  }
  .alert-link {
    color: #66512c;
  }
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

.successMessage {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
  h4 {
    margin-top: 0;
    color: inherit;
  }
  .alert-link {
    font-weight: bold;
  }
  > {
    p, ul {
      margin-bottom: 0;
    }
    p + p {
      margin-top: 5px;
    }
  }
  hr {
    border-top-color: #c9e2b3;
  }
  .alert-link {
    color: #2b542c;
  }
}

.successLabel {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #5cb85c;
}

a.successLabel {
  &:hover, &:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}

.successLabel:empty {
  display: none;
}

.btn .successLabel {
  position: relative;
  top: -1px;
}

.successLabel[href] {
  &:hover, &:focus {
    background-color: #449d44;
  }
}

.errorMessage {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
  h4 {
    margin-top: 0;
    color: inherit;
  }
  .alert-link {
    font-weight: bold;
  }
  > {
    p, ul {
      margin-bottom: 0;
    }
    p + p {
      margin-top: 5px;
    }
  }
  hr {
    border-top-color: #e4b9c0;
  }
  .alert-link {
    color: #843534;
  }
}

.errorLabel {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #d9534f;
}

a.errorLabel {
  &:hover, &:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}

.errorLabel:empty {
  display: none;
}

.btn .errorLabel {
  position: relative;
  top: -1px;
}

.errorLabel[href] {
  &:hover, &:focus {
    background-color: #c9302c;
  }
}

.formElement {
  margin-bottom: 15px;
}

.standardTextInput {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  &::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  &:-ms-input-placeholder, &::-webkit-input-placeholder {
    color: #999;
  }
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }
  &[disabled], &[readonly] {
    background-color: #eeeeee;
    opacity: 1;
  }
}

fieldset[disabled] .standardTextInput {
  background-color: #eeeeee;
  opacity: 1;
}

.standardTextInput[disabled], fieldset[disabled] .standardTextInput {
  cursor: not-allowed;
}

textarea.standardTextInput {
  height: auto;
}

.descriptionText {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.standardList {
  margin-bottom: 20px;
  padding-left: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  li {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    &:first-child {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    &:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &.disabled {
      background-color: #eeeeee;
      color: #777777;
      cursor: not-allowed;
      &:hover, &:focus {
        background-color: #eeeeee;
        color: #777777;
        cursor: not-allowed;
      }
      .list-group-item-heading, &:hover .list-group-item-heading, &:focus .list-group-item-heading {
        color: inherit;
      }
      .list-group-item-text, &:hover .list-group-item-text, &:focus .list-group-item-text {
        color: #777777;
      }
    }
    &.active {
      z-index: 2;
      color: #fff;
      background-color: #337ab7;
      border-color: #337ab7;
      &:hover, &:focus {
        z-index: 2;
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
      }
      .list-group-item-heading, &:hover .list-group-item-heading, &:focus .list-group-item-heading, .list-group-item-heading > small, &:hover .list-group-item-heading > small, &:focus .list-group-item-heading > small, .list-group-item-heading > .small, &:hover .list-group-item-heading > .small, &:focus .list-group-item-heading > .small {
        color: inherit;
      }
      .list-group-item-text, &:hover .list-group-item-text, &:focus .list-group-item-text {
        color: #c7ddef;
      }
    }
  }
}