<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;user id=sa;pwd=xxx;" />
  </connectionStrings>

  <appSettings>
    <add key="boardid" value="1" />
  </appSettings>

  <system.web>
    
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <authentication mode="Forms">
      <forms name=".YAFNET_Authentication" protection="All" timeout="43200" cookieless="UseCookies"/>
    </authentication>
    <machineKey validationKey="9FFB939631CC043153ADAD5CEBB14950BE0DA4D904BE58CF36003F5B0C3D1F570080E60425BAEE253919118175BE363D3B52FF217459736FD820451AC928F32E" decryptionKey="320615E71D6E5CA923E41B70205AE37B003A328383FA8EA3" validation="SHA1" />
    <compilation defaultLanguage="c#" />
    <customErrors defaultRedirect="error.aspx" mode="RemoteOnly" />
    <pages validateRequest="false" smartNavigation="false"/>

    <roleManager enabled="true" defaultProvider="Forum">
      <providers>
        <clear/>
        <add connectionStringName="yafnet" applicationName="YetAnotherForum" name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>

    <membership defaultProvider="Forum" hashAlgorithmType="MD5Unsalted">
      <providers>
        <clear/>
        <add connectionStringName="yafnet" name="YAFMembershipProvider" applicationName="YetAnotherForum" type="YAF.Providers.YAFMembershipProvider" />
      </providers>
    </membership>

    <profile enabled="true" defaultProvider="Forum">
      <providers>
        <clear/>
        <add name="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="yafnet" applicationName="YetAnotherForum"/>
      </providers>
    </profile>

  </system.web>
  
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
