<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;user id=sa;pwd=xxx;" />
	</connectionStrings>

	<appSettings>
		<add key="boardid" value="1" />
	</appSettings>

	<system.net>
		<mailSettings>
			<smtp from="">
				<network host="" password="" userName="" />
			</smtp>			
		</mailSettings>
	 </system.net>
</configuration>