<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connstr" value="user id=yaf;password=yafpass;data source=(local);initial catalog=yetanotherforum.net" />
		<add key="basedir" value="/yetanotherforum.net/" />
		<add key="themedir" value="/yetanotherforum.net/themes/standard/" />
		<add key="uploaddir" value="/yetanotherforum.net/upload/" />
		<add key="language" value="languages/norwegian.xml" />
		<!--add key="authorization" value="yetanotherforum" /-->
		<!--add key="smtpserver" value="" /-->
		<!--add key="erroremail" value="" /-->
	</appSettings>
	<system.web>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<compilation defaultLanguage="c#" debug="true"/>
		<pages validateRequest="false" smartNavigation="false"/>
		<authentication mode="Forms">
			<forms name="YetAnotherForum" slidingExpiration="true"/>
		</authentication>
		<customErrors defaultRedirect="error.aspx" mode="RemoteOnly"/>
	</system.web>
</configuration>
