<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;user id=sa;pwd=xxx;" />
    <add name="AspNetCS" connectionString="data source=(local);initial catalog=aspnetdb;user id=sa;pwd=xxx;" />
  </connectionStrings>

  <appSettings>
    <add key="boardid" value="1" />
    <add key="configPassword" value="" />
  </appSettings>

  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <authentication mode="Forms">
      <forms name="YAF.NET_Authentication" slidingExpiration="true"/>
    </authentication>
    <compilation defaultLanguage="c#" />
    <customErrors defaultRedirect="error.aspx" mode="RemoteOnly" />
    <pages validateRequest="false" smartNavigation="false"/>

    <roleManager enabled="true" defaultProvider="Forum">
      <providers>
        <clear/>
        <add name="Forum" type="System.Web.Security.SqlRoleProvider" connectionStringName="AspNetCS" applicationName="Forum" />
      </providers>
    </roleManager>

    <membership defaultProvider="Forum">
      <providers>
        <clear/>
        <add name="Forum" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetCS" applicationName="Forum"/>
      </providers>
    </membership>

    <profile enabled="true" defaultProvider="Forum">
      <providers>
        <clear/>
        <add name="Forum" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AspNetCS" applicationName="Forum"/>
      </providers>
    </profile>

  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
