<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="yafnet" type="yaf.SectionHandler,yaf" />
	</configSections>
	<yafnet>
		<connstr>user id=yaf;password=yafpass;data source=mondeo;initial catalog=yetanotherforum.net</connstr>
		<root>/yetanotherforum.net/</root>
		<language>english.xml</language>
		<theme>standard.xml</theme>
		<uploaddir>/yetanotherforum.net/upload/</uploaddir>
		<!--authorization>yetanotherforum</authorization-->
		<!--smtpserver></smtpserver-->
		<!--erroremail></erroremail-->
	</yafnet>
	<system.web>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<compilation defaultLanguage="c#" debug="true"/>
		<pages validateRequest="false" smartNavigation="false"/>
		<authentication mode="Forms">
			<forms name="YetAnotherForum" slidingExpiration="true"/>
		</authentication>
		<customErrors defaultRedirect="error.aspx" mode="RemoteOnly"/>
	</system.web>
</configuration>
