.yafnet .EditorDiv td
{
	padding: 0px !important;
	border: 0 !important;
}

.yafnet {
	font-family: arial,helvetica,"lucida grande",verdana,sans-serif;
	font-size: 9pt;
	color: #333333;
}
.yafnet a { color: #105cb6; text-decoration: none; }
.yafnet a:link { color: #105cb6; text-decoration: none; }
.yafnet a:visited { color: #105cb6; text-decoration: none; }
.yafnet a:active { color: #105cb6; text-decoration: none; }
.yafnet a:hover { color: #105cb6; text-decoration: underline; }

.yafnet img {
	border: 0;
}

.yafnet table.content {
	padding: 0px;
	color: #333333;
	border-collapse: collapse;
}

.yafnet tr.forumRowTitle,
.yafnet dt.header1,
.yafnet td.header1,
.yafnet th.header1
{
	background-color: #708fff;
	background-image: url('titlebg.jpg');
	color: #ffffff;
	font-weight: bold;
	font-size: 10.5pt;	
}
.yafnet a.HeaderTopicLink {
	color: #ffffff;
	font-weight: bold;
	font-size: 10.5pt;
	text-decoration:none;
}

.yafnet div.DivTopSeparator
{
	clear:right;
}

.yafForumWelcome
{
	float:right;
	color: #555;
	margin: 2px;
	font-size: 7.5pt;
	margin-bottom: 5px;
	padding: 6px;
	border: 1px solid #708fff;
	background-color: #e4e4ff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
}
.yafForumWelcome div
{
	text-align:right;
	display:inline;
}

.yafnet th.header1
{
	text-align: left;
	padding: 10px;
	white-space: nowrap;
}

/* yaf header */
.yafnet #yafheader
{
	font-size: 90%;
}
.yafnet #yafheader .outerMenuContainer
{
	border: 1px solid #ddd;
	padding: 0px 8px 0px 8px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
	background-color: #eee;
	width: 98%;
}
.yafnet #yafheader ul li a
{
	font-weight: bold;
	padding: 2px
}

.yafnet #yafheader ul.menuAdminList
{
	margin-left: 10px !important;
}
.yafnet #yafheader ul.menuAdminList li a
{
	color: #999;
}
.yafnet #yafheader ul li
{
	margin: 0;
	border-left: 1px solid #ddd;
}
.yafnet #yafheader ul li:first-child 
{
	border-left: none;
}
.yafnet .menuMyContainer
{
	float: none !important;
	display: inline;
}
.yafnet .menuContainer
{
	float: right !important;
	display: inline;
}
.yafnet .menuMyList
{
	margin-bottom: 10px;
}
.yafnet .menuContainer .menuList
{
	float: left;
}
.yafnet .menuAdminList
{
	float: none !important;
}
.yafnet .menuMyList li a
{
	font-weight: bold;	
}
.yafnet .menuMyList li
{
	display: inline;
	padding: 0;
}
.yafnet #yafheader .loggedInUser
{
	float: left !important;
	margin-right: 10px;
}
.yafnet #yafheader .currentUser
{
	font-weight: bold;
}
.yafnet #yafheader .guestUser  
{    
	background: url("error.png") #fdd no-repeat 8px 50%;
	color: #281b1b;
	font-size: 1em;
	font-weight: bold;
	line-height: 150%;
	margin-left: 0 auto;
	margin-right: 0 auto;
	margin-bottom: 10px;
	border: 1px solid #deb7b7;
	padding: 5px 10px 5px 30px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/* custom forum images special styles */
.yafnet .forum_customimage_locked
{
	border: solid 2px #c93a4a;    
}

.yafnet .forum_customimage_newposts
{
	border: solid 2px #fe0300;
}



.yafnet tr.forumRowFoot,
.yafnet td.footer1,
.yafnet td.footer2
{
  background-color: #eeeeee;  
  color: #000000;
}

.yafnet table.content td {
	padding: 10px;
	border: solid 1px #eeeeee;	
}

.yafnet tr.forumRowTitle th
{
	padding: 10px;
}

.yafnet tr.forumRowCat,
.yafnet td.header2,
.yafnet th.header2,
.yafnet tr.header2,
.yafnet .header
{
	background-color: #eeeeee;
	font-weight: bold;    
	font-size:10pt;
	color: #222;
}

.yafnet th.header2
{
	padding: 5px;
}

.yafnet .topicFavoriteCount
{
	color: #292;
	font-size: 10pt;    
	font-weight:normal;    
}

.yafnet .forumLinkCol div.forumheading a,
.yafnet .forumLinkCol_Alt div.forumheading a
{
	color: #000000;
	font-weight: bold;
	font-size: 11pt;    
}

.yafnet .MessageDetails span
{
	font-weight: bold;
	font-size: 8pt;
}

.yafnet .forumLinkCol div.forumheading,
.yafnet .forumLinkCol_Alt div.forumheading
{
	padding-bottom: 8px;
}

.yafnet .moderatorListCol,
.yafnet .moderatorListCol a
{
	font-size: 8pt;
	color: #000000;
}

.yafnet td.topicCountCol,
.yafnet td.postCountCol,
.yafnet td.lastPostCol
{
	background-color: #f8f8f8;
	color: #333333;
}

.yafnet .forumRowTitle .headerTopics,
.yafnet .forumRowTitle .headerPosts,
.yafnet .forumRow .topicCountCol,
.yafnet .forumRow .postCountCol,
.yafnet .forumRow_Alt .topicCountCol,
.yafnet .forumRow_Alt .postCountCol
{
	text-align: right;
}

.yafnet .forumRow .moderatorListCol,
.yafnet .forumRow_Alt .moderatorListCol
{
	text-align: center;
}

.yafnet .forumRow a.forumTopicLink,
.yafnet .forumRow_Alt a.forumTopicLink
{
	font-weight: bold;
}

.yafnet .forumRow .forumLinkCol,
.yafnet .forumRow_Alt .forumLinkCol
{
	width: 80%;
}

.yafnet .forumRowTitle .headerLastPost,
.yafnet .forumRow .lastPostCol,
.yafnet .forumRow_Alt .lastPostCol
{
	text-align: left;
}

.yafnet tr.topicRow,
.yafnet tr.topicRow_Alt
{
	color: #333333;
}

.yafnet .threadedRowCollapsed .threadUrl
{
	font-weight: bold;
}

/* Unresolved post in Moderation Reports */
.yafnet .post_res
{
	background-color: #f4e941;   
}

.yafnet tr.topicRow .topicMain,
.yafnet tr.topicRow_Alt .topicMain
{
	font-size: 11pt;
	font-weight: bold;    
}

.yafnet tr.topicRow a.post_link,
.yafnet tr.topicRow_Alt a.post_link
{
	color: #222;
}

.yafnet tr.topicRow .topicMain .description,
.yafnet tr.topicRow_Alt .topicMain .description
{
	color: #222;
	font-size: 9pt;
	font-style:italic;
	font-weight:lighter;  
}

.yafnet tr.topicRow .topicMain .post_priority,
.yafnet tr.topicRow_Alt .topicMain .post_priority
{
	font-weight: normal;
}

.yafnet tr.topicRow .topicMain .topicPager,
.yafnet tr.topicRow_Alt .topicMain .topicPager,
.yafnet tr.topicRow .topicMain .topicPosted,
.yafnet tr.topicRow_Alt .topicMain .topicPosted,
.yafnet tr.topicRow .topicMain .topicStarter,
.yafnet tr.topicRow_Alt .topicMain .topicStarter
{
	font-size: 9pt;
	font-weight: normal;
}

.yafnet tr.topicRow .topicLastPost img.avatarimage,
.yafnet tr.topicRow_Alt .topicLastPost img.avatarimage,
#yafpage_members .avatarimage
{
	width: 40px;
	height: 40px;
	float: left;
	padding: 3px;
}

.yafnet tr.topicRow .topicMain img.avatarimage,
.yafnet tr.topicRow_Alt .topicMain img.avatarimage
{
	width: 40px;
	height: 40px;
	float: left;
	padding: 3px;	
	padding-right: 8px;
}

.yafnet tr.topicRow .topicReplies,
.yafnet tr.topicRow_Alt .topicReplies,
.yafnet tr.topicRow .topicViews,
.yafnet tr.topicRow_Alt .topicViews
{
	text-align: right;
}

.yafnet tr.topicRow .topicViews,
.yafnet tr.topicRow_Alt .topicViews,
.yafnet tr.topicRow .topicRepiles,
.yafnet tr.topicRow_Alt .topicRepiles
{

}

.yafnet tr.topicRow td.topicStarter,
.yafnet tr.topicRow_Alt td.topicStarter,
.yafnet tr.topicRow td.topicViews,
.yafnet tr.topicRow_Alt td.topicViews
{
	background-color: #f8f8f8;
}

.yafnet .postsep {
	background-color: #e8e8e8;
	height: 10px;
	margin-bottom: 100px;
}

.yafnet table.postContainer,
.yafnet table.postContainer_Alt
{
	margin-bottom: 15px;
	border-collapse: collapse;
}

.yafnet table.postContainer td, 
.yafnet table.postContainer_Alt td
{
	padding: 10px 15px 10px 15px;
	margin: 0;
}

.yafnet .easyquote
{
	color: green;
	border-left: 1px solid #555;
	padding-left: 5px;
	line-height: 1.2em;
}
.yafnet .easyquote .easyquote
{
	color: red;
}
.yafnet .easyquote .easyquote .easyquote
{
	color: Blue;
}

.yafnet div.postedLeft
{
	line-height: 32px;
}

.yafnet .postformheader
{
	font-weight: bold;
}

.yafnet .postContainer_Alt .SignatureColumn,
.yafnet .postContainer_Alt .postPosted,
.yafnet .postContainer_Alt .message,
.yafnet .postContainer_Alt .postTop,
.yafnet .postContainer_Alt .postInfoBottom
{
	background-color: #f5f5f5;
}

.yafnet .postContainer_Deleted .postPosted,
.yafnet .postContainer_Deleted .message,
.yafnet .postContainer_Deleted .postTop,
.yafnet .postContainer_Deleted .postInfoBottom
{
	background-color: #eaed0d;
}

.yafnet .postNavigation
{
	background-color: #f8f8f8;
}

.yafnet .postHeader .rightItem a
{
	color: #000000;
}

.yafnet div.section
{
	padding: 5px;
	background-color:#f2f2f2;
	border: solid 1px #ddd;
	color: #888;
	font-size: 9pt;
	text-align: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}

.yafnet div.postdiv {
	width: 100%;
	min-height: 100px;
	overflow: auto;
}
.yafnet div.AdMessage {
	min-height: 10px;
}
.yafnet .yafPageLink
{
	font-weight: bold;
	color: #000000;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2px;
}

.yafnet .edit
{
	width: 100%;
}

.yafnet input,
.yafnet select {
	font-family: verdana,sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
	font-size: 9pt;
	color: #3b3b3b;	
	padding: 5px;
	background-color: #f5f5f5;
	border: 1px solid #aaaaaa;	
}

.yafnet input[type="image"]
{
	padding: 0px;
	border: 0px;
}

.yafnet input[type="checkbox"]
{
	border: 0px;
	padding: 0px;
	margin: 5px;
}

.yafnet input:hover,
.yafnet select:hover
{
	background-color: #fff;
	border: 1px solid #333;	
}

.yafnet .fileattach {
	padding: 5px;
	background-color: #eeeeee;
	border: solid 1px #808080;
}
.yafnet .fileattach .filetitle,
.yafnet .fileattach .imgtitle {
	font-weight: bold;
	color: #444444;
	margin-bottom: 5px;
	font-size: 1.1em;
}
.yafnet .fileattach .attachedimg,
.yafnet .fileattach .attachedfile {
	margin-left: 10px;
}
.yafnet .fileattach a {
	font-weight: bold;
}
.yafnet .quote {
	padding-left: 16px;
	margin: 5px;
}
.yafnet .innerquote {
	padding: 4px;
	background-color: #fefefe;
	border: 1px dashed #808080;
}
.yafnet .code {
	padding-left: 16px;	
	margin: 5px;
}
.yafnet span.highlight {
	background-color: Yellow;
	color: Black;
}
.yafnet .innercode {
	background-color: #efefef;
	border: solid 1px #808080;
	color: #000000;
	line-height: 1.3em;
	font-family: "courier new", "times new roman", monospace;
}
.yafnet .smallfont	{ font-size: 10px; }
.yafnet .largefont	{ font-size: 11px; }
.yafnet a.imagelink {
	font-weight: bold;
	color: #000000;
}
.yafnet a:hover.imagelink {
	text-decoration: none;
}
.yafnet .posteditor {
	width: 100%;
	height: 200px;
}

.yafnet .navlinks { font-weight: bold; color: #000000; }
.yafnet .navlinks a { color: #000000; text-decoration: none }
.yafnet .navlinks a:hover {color: #666666; }

.yafnet table.print {
	border: solid 1px #C0C0C0;
}
.yafnet .printheader {
	background-color: #DDDDDD;
	color: #000000;
	padding: 4px;
}
.yafnet .printbody {
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
}
.yafnet .pbutton {
	padding: 4px;
	color: #105cc9;
}
.yafnet .textfield {
	background-color: #FFFFFF;
	border: 1px solid #3B3b3b;
	width: 100%;
}
.yafnet .ButtonOut {
	border: #888888 1px solid;
}
.yafnet .ButtonOver {
	border: #000000 1px solid;
	background-color: #ffffff;
}
.yafnet .ButtonChecked {
	border: #000000 1px solid;
}
.yafnet .ButtonOff {
	border: #888888 1px solid;
}
.yafnet #bbcodeFeatures {
	border: #eeffee 1px solid;
}
.yafnet .yafsignature
{
	border-top: solid 1px #666666;
	margin-top: 15px;
	padding-top: 5px;
}
/* CSS Pagelinks */
.yafnet .yafpager {
	color: #555555;
	margin: 6px 0px 6px 0px;
}
.yafnet a.pagelink,
.yafnet a.pagelinkfirst,
.yafnet a.pagelinklast,
.yafnet .pagecurrent,
.yafnet .pagecount
{
	text-decoration: none;
	background: #F5F5F5;
	border: 1px solid #444444;
	padding: 1px 3px 1px 3px;
	margin-right: 2px;
}
.yafnet .pagecount {
	margin-right: 5px;
}
.yafnet a.pagelinkfirst,
.yafnet a.pagelinklast{
	background: #e0e0e0;
}
.yafnet .pagecurrent{
	background: #dddddd;
}
.yafnet a.pagelink ,
.yafnet a.pagelinkfirst ,
.yafnet a.pagelinklast  {
	text-decoration: none;
	color: #000090;
}
/* CCS Buttons */
.yafnet .MultiQuoteButton,
.yafnet a.yaflittlebutton 
{
	background-color: #f5f5f5;
	color: #105cc9;
	display: block;
	float: right;
	font-size: 7.5pt; 
	margin: 3px 0px 3px 3px;
	padding-right: 2px;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	border: solid 1px #ccc;
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.myButton:hover {

}.myButton:active {
	position:relative;
	top:1px;
}

.yafnet .MultiQuoteButton,
.yafnet a.yaflittlebutton span {
	display: block;
	padding: 5px 4px 5px 7px;
}
.yafnet a.yaflittlebutton img {
	vertical-align: middle;
	padding: 0px 4px 2px 0px;
}
.yafnet .MultiQuoteButton:hover,
.yafnet a.yaflittlebutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;    
}
.yafnet .Checked{
	border:1px solid #84bbf3;
}
.yafnet .Checked,
.yafnet a.yaflittlebutton:active {
	background-position: bottom right;
	outline: none;
}
.yafnet a.yaflittlebutton:active img {
	padding: 0px 6px 4px 0px;
}
.yafnet a.yaflittlebutton:active span{
	background-position: bottom left;
	padding: 6px 4px 4px 7px;
}
.yafnet a.yafcssbigbutton
{
	background-color: #e4e4ff;
	color: #105cc9;
	display: block;
	font-size: 8pt; 
	margin: 4px 2px 4px 4px;
	padding-right: 2px;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;

	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}
.yafnet a.yafcssbigbutton span{
	display: block;
	padding: 6px 10px 6px 12px;
}
.yafnet a.yafcssbigbutton img{
	vertical-align: top;
	padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssbigbutton:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
	text-decoration: none;
}
.yafnet a.yafcssbigbutton:active{
	background-position: bottom right;
	outline: none; /* hide dotted outline in Firefox */
}
.yafnet a.yafcssbigbutton:active img{
	padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssbigbutton:active span{
	background-position: bottom left;
	padding: 7px 10px 5px 12px; /* push text down 1px */
}
/* poll vote link */
.yafnet a.pollvote:link {text-decoration: underline; color: #339;
}
/* css image button */
.yafnet a.yafcssimagebutton
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	background-color: #eeeeee;
	color: #555555;
	display: block;
	float: left;
	font-size: 10px; 
	margin: 2px 0px 2px 2px;
	padding-right: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial;
	font-weight: bold;
	border: solid 1px #a0a0a0;
}
.yafnet a.yafcssimagebutton span{
	display: block;
	line-height: 14px;
	padding: 2px 6px 2px 8px;
}
.yafnet a.yafcssimagebutton img{
	vertical-align: top;
	padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssimagebutton:hover{
	text-decoration: none;
	background-color: #fff;
	color: #105cc9;
}
.yafnet a.yafcssimagebutton:active{
	background-position: bottom right;
	outline: none; /* hide dotted outline in Firefox */
}
.yafnet a.yafcssimagebutton:active img{
	padding: 0px 4px 0px 0px;
}
.yafnet a.yafcssimagebutton:active span{
	background-position: bottom left;
	padding: 3px 6px 1px 8px; /* push text down 1px */
}
/* CSS Popupmenu */
.yafnet .yafpopupmenu {
	background-color: #ffffff;
	border: solid 1px #333333;
	
}
.yafnet .yafpopupmenu ul {	
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.yafnet .yafpopupmenu li {
	padding: 5px 10px 5px 10px;
	margin: 0;
}
.yafnet .yafpopupmenu li.popupitemhover {
	background-color: #cccccc;
}

/*Modal Popup*/
.modalInner
{
	text-align:center;
	display:block;
	font-weight:bold;
}

.modalOuter
{
	margin:10px;
	display:block;
}

/* Goto Page Form */
.gotoPageForm
{
	font-family: Arial, Verdana, Tahoma;
	background-color: #f0f0f0;
	border: solid 1px #555555;
	width: 80px;
	margin: 1px;	
	font-size: 9pt;		
}
.gotoPageForm .gotoBase
{
	border: solid 1px #ffffff;
}
.gotoPageForm .gotoHeader
{
  background-color: #aaa;
	color: #000000;
	font-weight: bold;	
	padding: 2px;	
}
.gotoPageForm .gotoInner
{
	padding: 2px;
}
.gotoPageForm .gotoInner input
{
	margin: 2px;
}
/* Album */
.yafnet .albumtitle:hover
{
	background-color: yellow;
}
.yafnet .content .albumtable td.albumimagebox
{
		padding-bottom:0;
}
.yafnet .content .albumtable td.albumtitlebox
{
		padding-top:0;
}
/* Irkoo Service styles */
.irk-rating { font-family: Arial, Sans-Serif; color: #080; }
.irk-negative { color: #c00; }
.irk-count { font-size: 12px; font-weight: bold; padding: 0 4px; vertical-align: middle; }
.irk-down, .irk-up { cursor: pointer; width: 16px; height: 16px; vertical-align: middle; }
.irk-down { background: url(http://z.irkoo.com/down.png); }
.irk-down:hover { background: url(http://z.irkoo.com/down-hover.png); }
.irk-down-voted .irk-down { background: url(http://z.irkoo.com/down-voted.png); }
.irk-up { background: url(http://z.irkoo.com/up.png); }
.irk-up:hover { background: url(http://z.irkoo.com/up-hover.png); }
.irk-up-voted .irk-up { background: url(http://z.irkoo.com/up-voted.png); }
/* irk-vote should have relative positioning needed for popup to be positioned correctly */
.irk-vote { position: relative; }
.irk-count, .irk-rating { font-family: Arial, Sans-Serif; color: #680; }
.irk-negative, .irk-negative .irk-count { color: #c4e; }
/* End of Irkoo Service styles */

/* Override jquery ui font-size */
.ui-widget { font-size: 9pt!important; }

.yafnet .GoToLink,
.yafnet .PopMenuLink {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: baseline;

	border: 1px solid black;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.yafnet .PopMenuLink,
.yafnet .UserPopMenuLink {
	background: url("DownArrow.png") transparent no-repeat 100% 50%;
}

.yafnet .PrevTopicLink {
	background: url("LeftArrow.png") transparent no-repeat 0% 50%;
}

.yafnet .NextTopicLink {
	background: url("RightArrow.png") transparent no-repeat 100% 50%;
}

/* clean up model dialog */
.ModalDialog .DialogContent {
  display:table;
  width: 370px;
  padding: 4px;
  background: #eee;
}
.ModalDialog .modalHeader 
{
	padding: 4px;
	border: 1px solid #999;
  text-shadow: 0;
  -webkit-box-shadow: 0;
  moz-box-shadow: 0;
  box-shadow: 0;
  color: #fff;
  background: #666;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  text-align:center;
  
  font-size: 10pt;
}

.ModalDialog .modalHeader h3
{
	display: inline;
}

.ModalDialog .modalFooter
{
	padding: 2px;
	text-align: right;
}

.ModalDialog input, .ModalDialog select
{
	padding: 0px;
}

.ModalDialog hr
{
	height: 1px;
	border: 0;
	background-color: #aaa;
	clear:both;
}

.ModalDialog .modalInner
{
	display: inline;
}

.StandardButton {
	border: none;

	vertical-align: baseline;
	margin: 0;
	cursor: pointer;
	text-align: center!important;
	text-decoration: none;
	font: none !important;
	padding: .1em 0.5em .1em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

	color: #fff!important;
	border: solid 1px #333;
	background: #666 !important;
	
	height:auto;
	width:80px;
}

.ModalDialog .close
{
	margin: 3px;
	border: 1px solid #777;
	background: #888;
}
.yafnet .pagination{
	padding-top:4px;
	margin-right:2px;
}
.yafnet .pagination a, .yafnet .pagination span {
	text-decoration: none;
	background: #F5F5F5;
	border: 1px solid #444444;
	-moz-border-radius: 0.4em; 
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	padding: 1px 3px 1px 3px;
	margin-right: 2px;
}

.yafnet .pagination .current {
	background: #446bb8;
	color: #fff;
	border: solid 1px #AAE;
}

.yafnet .pagination .current.smiliesPagerPrev, .yafnet .pagination .current.smiliesPagerNext{
	color:#999;
	border-color:#999;
	background:#fff;
}

.yafnet .Unread {
	margin-left: 2px;
	padding:2px 4px 2px 4px;
	background-color:red;
	height:20px;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	box-shadow:1px 1px 1px gray;
}
.yafnet .Unread a {color:white!important;font-weight:bold!important;font-size:0.9em!important;}

/* Alpha Sort Control */
.yafnet dl.AlphaSort {border:1px solid #ddd;background-color: #f0f0f0;}
.yafnet dl.AlphaSort dt {padding:10px 0 4px 10px;height:22px;}
.yafnet dl.AlphaSort dd { background-color: white;color:#3b3b3b;border: 1px solid #aaa}
.yafnet dl.AlphaSort .SelectedLetter {background-color: #e5e5e5;color:#3b3b3b;font-weight:bold}

.yafnet dl.AlphaSort dd:hover { background-color: #f5f5f5;color:#3b3b3b;cursor:pointer;}
.yafnet dl.AlphaSort dd:hover a { font-weight:bold}
.yafnet dl.AlphaSort dd a {color:#3b3b3b;}

.yafnet td.SignatureColumn {border-top:none!important;}