<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YAF.TranslateApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YAF.TranslateApp.Properties.Settings>
            <setting name="SourceTranslation" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationTranslation" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPendingOnly" serializeAs="String">
                <value>False</value>
            </setting>
        </YAF.TranslateApp.Properties.Settings>
    </userSettings>
</configuration>