body
{
	background: url('earthback.jpg');
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3B3E39;
}

td, th
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3B3E39;
}

input, select
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #3B3E39;	
	background-color: #FFFFFF;
	border: 1px solid #E3E2DA;	
}

/*  */
img {
	border: 0;
}

/* Header 1 - Main header */
tr.header1 {
	background-color: #66a262;
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
}

tr.header1 a { color: #ffffff;	text-decoration: none; }
tr.header1 a:hover { color: #eeffee; text-decoration: underline; }	

td.header1 
{
	background-color: #66a262;
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
}	

.header1Title
{
	/*background: url('bg_header5.png');*/
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;	
	background-color: #66a262;
}

/* Header 2 - Sub header */
tr.header2 {
	background-color: #E3E2DA;
	color: #55a055;
	font-weight: bold;
}

td.header2 {
	background-color: #E3E2DA;
	color: #55a055;
	font-weight: bold;
}
a.header2 { height: auto; background-color: Transparent; border-style: none; background-image: none; }

td.header2 a { color: #579000; text-decoration: none; }
td.header2 a:link { color: #7F7D6C; text-decoration: none; }
td.header2 a:visited { color: #7F7D6C; text-decoration: none; }
td.header2 a:active { color: #7F7D6C; text-decoration: none; }
td.header2 a:hover { color: #7F7D6C; text-decoration: underline; }

td.infoTable {
	background-color: #FAFAFA;
	padding: 10px;
	border: 1px solid #F3F2F2;
}

/* Footer1 - Bottom of tables */
.footer1 {
	font-size: 7pt;
	height: 28px;
	background-color: #f4f4f4;
}

.footer1 select, .footer1 td {
	font-size: 10px;
}

/* Header of posts */
.postheader {
	background-color: #DAE2DA;
}

/* User info and post/article */
.post
{
	background-color: #F5F5F2;
}

.post_alt
{
	background-color: #FAFAF5;
}

tr.post:hover
{
	background-color: #FFFFFF;	
}

tr.post_alt:hover
{
	background-color: #FFFFFF;	
}

/* Footer of posts */
.postfooter
{
	background-color: #cdcdcd;
}

/* Area between posts */
.postsep {
	background-color: #555555;
	height: 1px;
	background: url('bg_header2.png');
}

/* most tables are class 'content' */
.content
{
	border: solid 1px #206020;
	padding: 0px;
	background-color: #ffffff;	
	margin: 0px;
	color: #000000;
}

.postformheader 
{
	background-color: #D1E1D1;
	font-weight:bold;
}

table.content td {
	padding: 5px;
}

.content td table td table td {
	padding: 0px;	
}

/* links inside content table*/
.content a			{ color: #579000; text-decoration: underline; }
.content a:hover	{ color: #579000; text-decoration: none; }

/* used for quoting messages */
.quote {
	padding-left: 16px;
	margin: 5px;
}

.innerquote
{
	padding: 4px;
	background-color: #fefefe;
	border: 1px dashed #808080;
}

/* used for code */
.code
{
	padding-left: 16px;	
	margin: 5px;
}

.innercode
{
	padding: 4px;
	background-color: #efefef;
	border: solid 1px #808080;
	color: #000000;
	font-size:8pt;
	font-family:Courier New,Courier;
}

/* font sizes */
.smallfont	{ font-size: 10px; }
.largefont	{ font-size: 11px; }

/* Image Links */
a.imagelink {
	font-weight: bold;
	color: #000000;
}
a:hover.imagelink {
	text-decoration: none;
	/*background-color: #D0D0D0;*/
}

/* Used for editor textarea */
.posteditor {
	width: 100%;
	height: 200px;
}

/* Table just above and below tables */
table.command {
	padding: 3px;
}

/* p-tag at the top of pages with navigation links */
.navlinks { font-weight: bold; color: #000000; }
.navlinks a { color: #000000; text-decoration: none }
.navlinks a:hover {color: #666666;
}

/* for printing */
table.print {
	border: solid 1px #C0C0C0;
}
.printheader {
	background-color: #DDDDDD;
	color: #000000;
	padding: 4px;
}
.printbody {
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
}

.pbutton {
	background-color: #3B3E39;
	font-size: 10px;
	color: #FFFFFF;
	border: none;
	font-weight: bold;
}
 
.textfield {
	background-color: #FFFFFF;
	border: 1px solid #3B3E39;
	width: 100%;
}

.ButtonOut
{
	border: #669966 1px solid;
}
.ButtonOver
{
	border: #000000 1px solid;
	background-color: #ffffff;
}
.ButtonChecked
{
	border: #000000 1px solid;
}
.ButtonOff
{
	border: #669966 1px solid;
}

#bbcodeFeatures
{
	border: #eeffee 1px solid;
}

/*
Use this to setup overflow feature for your site.
On IE that would mean specifying a width so that the overflow will work properly.
This CSS already works on FireFox.
*/
div.postdiv
{
	width: 100%;
	min-height: 100px;
	overflow: auto;	
}