<appSettings>
  <!--
  ******************************************************************
	** ConfigPassword Key ** Defaults to: Empty (not installed) **
  
  Password to run configuration (/install/default.aspx) for the forum.
  If you cannot set write permissions on this file (app.config)
  you can enter manually enter a plain text password here that will
	be required when you attempt to run the configuration. A config
	password is required for security reasons.
   -->
	<add key="configPassword" value="" />
  <!--
  ******************************************************************
	** BoardID Key ** Defaults to: 1 **
  
  You can create as many boards as you want and they will function as seperate
  forums (with seperate users). (Admin->Boards to create new boards.)
  You can also specify "BoardID" in the forum control.
   -->
  <add key="BoardID" value="1" />
  <!--
  ******************************************************************
	** EnableURLRewriting Key ** Defaults to: false **
  
  For advanced users who need SEO-quality URLs on their forum. If
  you don't know what SEO is, you probably don't need to enable.
  -->  
  <add key="EnableURLRewriting" value="false" />
  
  <!--
  ******************************************************************
	** databaseObjectQualifier Key ** Defaults to: yaf_ **
  
  For advanced users who want to change the prefix for Yaf DB
  structure.
  -->
  <add key="databaseObjectQualifier" value="yaf_" />
  
  <!--
  ******************************************************************
	** databaseObjectQualifier Key ** Defaults to: yaf_ **
  
  For advanced users who want to the change the default permissions
  for the YAF DB structure.
  -->  
  <add key="databaseOwner" value="dbo" />
  
  <!--
  ******************************************************************
	** providerExceptionXML Key ** Defaults to: ProviderExceptions.xml **
  
  The file that the providers pull exception messages from.
  -->  
  <add key="providerExceptionXML" value="ProviderExceptions.xml" />
  
  <!--
	******************************************************************
	** UploadDir Key ** Defaults to: "~/upload/" **

	Provide a relative path to the directory where
	uploads will go if different from the default. Make sure
	there is write permissions to this directory.
	-->
  <add key="UploadDir" value="~/upload/" />
	  
  <!--
	******************************************************************
	** Membership Provider Key Type ** Defaults to: "System.Guid" **

	The type that the membership provider expects the ProviderKey
	to be. Most providers use expect System.Guid.
	
	Valid values include:
	
	System.Guid (default)
	System.String (max 64 character length)
	System.Int32
	System.Int64
		
	-->
  <add key="ProviderKeyType" value="System.Guid" />  

  <!--
	****************************************************************** 
	** Optional Root Key ** Defaults to: "~/" **

	If YAF forum files are not located in the Application Root (~/)
	of your web site you need to specify the additional url
	in this root key. Example: Application Root is "www.mysite.com/"
	You want your forum at "www.mysite.com/forum". You need to specify
	"/forum" in your root key below.
	
	PLEASE NOTE: 

	YAF .dll files (from the \bin directory in the zip) AND ALL files 
	in the \App_Code directory MUST be located in the Application Root.
	-->
  <!--add key="root" value="/forum"/-->
</appSettings>