<appSettings>
  <!--
  ******************************************************************
	** ConfigPassword Key ** Defaults to: Empty (not installed) **

  Password to run configuration (/install/default.aspx) for the forum.
  If you cannot set write permissions on this file (app.config)
  you can manually enter a plain text password here that will
	be required when you attempt to run the configuration. The Install Config
	password is required for security reasons.
   -->
	<add key="YAF.ConfigPassword" value="" />

  <!--
  ******************************************************************
	** GDPRControllerAddress  ** Defaults to: Empty  **

  Enter the name and address of the GDPR Controller for example...
  
  "name company name street address postal code City Country" 
   -->
  <add key="YAF.GDPRControllerAddress" value="" />

  <!--
  ******************************************************************
	** BoardID Key ** Defaults to: 1 **

  You can create as many boards as you want and they will function as separate
  forums (with separate users). (Admin->Boards to create new boards.)
  You can also specify "BoardID" in the forum control:

  	<YAF:Forum ID="Forum1" runat="server" BoardID="2" />

   -->
  <add key="YAF.BoardID" value="1" />

  <!--
  ******************************************************************
	** EnableURLRewriting Key ** Defaults to: true **

  If it is enabled all URLs will be rewritten as human friendly URLs
  If Not all URLs are computer friendly.

  When this setting is disabled also change the url:form tag to a
  normal <form ....></form> tag in the default.aspx 
  -->
  <add key="YAF.EnableURLRewriting" value="true" />

  <!--
  ******************************************************************
	** URLRewritingMode Key ** Defaults to: false **
  Unicode - will replace url symbols with unicode characters
  Translit - will replace unicode characters with ascii characters
  no entry - will replace non-ascii symbols with dashes

  -->
  <add key="YAF.URLRewritingMode" value="Translit" />

  <!-- Gets the Prefix used for Url Rewriting - default is "yaf_"
  <add key="YAF.UrlRewritingPrefix" value="yaf_" />
  -->

  <!--
  ******************************************************************
	** SMTP SSL Key ** Defaults to: false **

  Set to true to use SSL for SMTP server connections.
  -->
  <add key="YAF.UseSMTPSSL" value="false" />

  <!--
  ******************************************************************
	** databaseObjectQualifier Key ** Defaults to: yaf_ **

  For advanced users who want to change the prefix for Yaf DB
  structure.
  -->
  <add key="YAF.DatabaseObjectQualifier" value="yaf_" />

  <!--
  ******************************************************************
	** DatabaseOwner Key ** Defaults to: dbo **

  For advanced users who want to the change the default permissions
  for the YAF DB structure.
  -->
  <add key="YAF.DatabaseOwner" value="dbo" />

  <!--
  ******************************************************************
	** ConnectionStringName Key ** Defaults to: yafnet **

  The Database Connection string name YAF should use. Defaults
  to "yafnet" for backward compatibility.
  -->
  <add key="YAF.ConnectionStringName" value="yafnet" />

  <!-- Used to override a default provider
  <add key="YAF.MembershipProvider" value="YafMembershipProvider" />
  <add key="YAF.RoleProvider" value="YafRoleProvider" />
  <add key="YAF.ProviderProvider" value="YafProfileProvider" />
    -->

  <!--
  *******************************************************************
  Used for Url Rewriting - default is "default.aspx"
  <add key="YAF.BaseScriptFile" value="default.aspx" />
  -->

  <!--
  ******************************************************************
	** providerExceptionXML Key ** Defaults to: ProviderExceptions.xml **

  The file that the providers pull exception messages from.
  -->
  <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml" />

  <!--
	******************************************************************
	** Optional BoardRoot Key ** Defaults to a an empty string

	Provides a method of moving Images/Uploads to a sub folder within
  the YAF application.
  Make sure there is write permissions to this directory for Uploads to
  work.
  <add key="YAF.BoardRoot" value="~/Boards/" />
	-->

  <!--
	******************************************************************
	** Optional MultiBoardFolders Key ** Defaults to false

  Appends BoardRoot with the CurrentBoardID to allow different Images/
  Uploads per board. E.g. /Boards/1/Uploads
  
  <add key="YAF.MultiBoardFolders" value="true" />
	-->

  <!--
	******************************************************************
	** Optional File Root Key ** Defaults to: AppRoot (below) **

	File Root is server-side and used by YAF to find and load files.

	If YAF forum files are not located in the Application Root (~/)
	of your web site you need to specify the additional url
	in this root key. Example: Application Root is "/forum"
	You want your forum at "www.mysite.com/forum". You need to specify
	"/forum" in your root key below.

	PLEASE NOTE:

	YAF .dll files (from the \bin directory in the zip) 
  MUST be located in the Application Root.

  <add key="YAF.FileRoot" value="~/forum"/>
  -->


  <!--
  ******************************************************************
	** DisableJQuery Key ** Defaults to: jQuery **

  Used to set JQuery alias. Used for integration purposes.

  <add key="YAF.JQueryAlias" value="jQuery" />
  -->

  <!--
  ******************************************************************
	** JQueryOverrideFile ** Defaults to: "" **

  Used to override default YAF JQuery version. Used for integration purposes.

  You can set a local file (the file must be located in the Scripts folder)

  <add key="YAF.JQueryOverrideFile" value="jquery.min.js" />

  or an URL

  <add key="YAF.JQueryOverrideFile" value="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js" />
  -->

  <!--
  ******************************************************************
	** JQueryVersion ** Defaults to: "3.5.1" **

  Used to override default YAF JQuery version. Used for integration purposes.

  <add key="YAF.JQueryVersion" value="3.5.1" />
  
  -->

  <!--
	******************************************************************
	** Optional AppRoot ** Defaults to: "~/" **

	If YAF forum URL is different than the Application Root, specify
	it manually here. Do NOT include server information.

	e.g. ~/forum
	-->

  <add key="YAF.AppRoot" value="~/" />

  <!--
  <add key="YAF.ForceScriptName" value="default.aspx" />

	-->

  <!--
	******************************************************************
	** Membership Provider Key Type ** Defaults to: "System.Guid" **

	The type that the membership provider expects the ProviderKey
	to be. Most providers use expect System.Guid.

	Valid values include:

	System.Guid (default)
	System.String (max 64 character length)
	System.Int32
	System.Int64

	-->
  <add key="YAF.ProviderKeyType" value="System.Guid" />

  <!--
  ******************************************************************
  ** Mobile User Agents **

  Comma delimited list of all the mobile user agents. Case-insensitive.
  -->
  <add key="YAF.MobileUserAgents" value="iphone,ipad,midp,windows ce,windows phone,android,blackberry,opera mini,mobile,palm,portable,webos,htc,armv,lg/u,elaine,nokia,playstation,symbian,sonyericsson,mmp,hd_mini"/>

  <!--
  ******************************************************************
  ** Optional ShowToolBar ** Defaults to: "true" **

  You can hide the tool bar with the optional key below.  You may want
  to do this if you've incorporated YAF into your existing site and
  have your own menu controls for accessing the forum.

  <add key="YAF.ShowToolBar" value="false" />
  -->

  <!--
  ******************************************************************
  ** Optional AllowLoginAndLogoff ** Defaults to: "true" **

  You can turn off the ability for YAF users to login and log off (for
  site integration) by uncommenting the key below.

  <add key="YAF.AllowLoginAndLogoff" value="false" />
  -->

  <!--
  ******************************************************************
  ** Optional SqlCommandTimeout ** Defaults to: "99999" **

  Option to Set the SQL Command Timeout

  In some cases is need to set it to Unlimited value="0"

  <add key="YAF.SqlCommandTimeout" value="99999" />
  -->

  <!--
  ******************************************************************
  ** Optional Facebook Single Sign On Feature

  To turn on that Feature you need to have an Facebook Developer
  Application

  More info on how to enable this feature here...
  https://github.com/YAFNET/YAFNET/wiki/Facebook-Integration

  <add key="YAF.FacebookAPIKey" value="XXXX" />
  <add key="YAF.FacebookSecretKey" value="XXXX" />
  -->

  <!--
  ******************************************************************
  ** Optional Google Single Sign On Feature

  To turn on that Feature you need to have Google API Access
  you can do this here:
  https://code.google.com/apis/console/

  More info on how to enable this feature here...
  https://github.com/YAFNET/YAFNET/wiki/Google-Integration

  <add key="YAF.GoogleClientID" value="XXXX" />
  <add key="YAF.GoogleClientSecret" value="XXXX" />
  -->

  <!--
  ******************************************************************
  ** Optional Twitter Single Sign On Feature

  To turn on that Feature you need to have an Twitter Developer
  Application you can do this here:
  https://dev.twitter.com/apps
  Don't Forget to Define a Callback URL, you can enter anything you want
  it will be overwritten by YAF.

   More info on how to enable this feature here...
  https://github.com/YAFNET/YAFNET/wiki/Twitter-Integration

  <add key="YAF.TwitterConsumerKey" value="XXXX" />
  <add key="YAF.TwitterConsumerSecret" value="XXXX" />
  -->

  <!--
     Optional Twitter HoverCard Feature you also need to setup the values above

  <add key="YAF.TwitterToken" value="XXXX" />
  <add key="YAF.TwitterTokenSecret" value="XXXX" />
  -->
</appSettings>
