<connectionStrings>
 <add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;integrated security=SSPI" />
 <add name="yafnetConnectionString1" connectionString="Data Source=cdsc;Initial Catalog=yafnet;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"
  providerName="System.Data.SqlClient" />
</connectionStrings>