<connectionStrings>
  <!-- Connection String for SQL Server 2005/2008 -->
  <!--<add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;integrated security=SSPI" />-->
  <!-- Connection String for SQL Server 2005/2008 Express -->
    <add name="yafnet" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|Database.mdf;" providerName="System.Data.SqlClient"/>
</connectionStrings>