<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap-notify" version="0.1.0" targetFramework="net452" />
  <package id="Farsi.Library" version="2.7.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>