<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ckeditor-standard" version="4.4.1" targetFramework="net40" />
  <package id="Farsi.Library" version="2.5.1.5" targetFramework="net40" />
  <package id="nStuff.UpdateControls" version="1.2.0.0" targetFramework="net40" />
  <package id="TinyMCE" version="4.0.28" targetFramework="net40" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net40" />
</packages>