<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bootbox.JS" version="5.2.0" targetFramework="net472" />
  <package id="Bootstrap.v3.Datetimepicker" version="4.17.45" targetFramework="net452" />
  <package id="bootstrap-notify" version="0.1.0" targetFramework="net452" />
  <package id="Farsi.Library" version="2.7.0" targetFramework="net462" />
  <package id="Font.Awesome" version="5.13.0" targetFramework="net472" />
  <package id="jQuery" version="3.5.1" targetFramework="net48" />
  <package id="jQuery.BlockUI" version="2.70" targetFramework="net4" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net48" />
  <package id="Moment.js" version="2.25.2" targetFramework="net48" />
  <package id="MSBuild.Extension.Pack" version="1.9.1" targetFramework="net472" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net472" developmentDependency="true" />
  <package id="Select2-Bootstrap-Theme" version="1.0.0.4" targetFramework="net452" />
  <package id="Spin.js" version="2.3.2.1" targetFramework="net40" />
  <package id="Tablesorter" version="2.25.4" targetFramework="net462" />
</packages>