<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rewriter"
             type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"
             requirePermission="false" />
  </configSections>
  <connectionStrings configSource="db.config" />
  <appSettings configSource="app.config" />
  <rewriter configSource="URLRewriter.config" />
  <system.net>
    <mailSettings>
      <smtp configSource="mail.config" />
    </mailSettings>
  </system.net>

  <system.web>
    <httpRuntime targetFramework="4.6.2" />
    <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly" />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
          Utf-8 is not supported on Netscape 4.x 
          If you need Netscape compatibility leave iso-8859-1.
          UTF-8 is recommended for complex languages
    -->
    <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8"
                   fileEncoding="UTF-8" />
    <!--<globalization culture="en-US" uiCulture="en"  fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1"/>-->

    <authentication mode="Forms">
      <forms name=".YAFNET_Authentication" protection="All" timeout="43200" cookieless="UseCookies" />
    </authentication>

    <!-- COMPILATION
    * Set debug to "true" to test out the system in development 
    * Set optimizeCompilation to "true" for *MUCH* faster application pool
      restarts on larger .NET systems. But, please read and understand the caveats
      before enabling this settings:
      http://blogs.msdn.com/b/davidebb/archive/2009/04/15/a-new-flag-to-optimize-asp-net-compilation-behavior.aspx             
    -->
    <compilation debug="false" targetFramework="4.6.2" />

    <httpHandlers>
      <add verb="GET" path="Resource.ashx" type="YAF.YafResourceHandler, YAF" />
    </httpHandlers>
     <httpModules>
      <add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" />
    </httpModules>   
 
    <pages clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web"/>
        <!-- Default: use non-dynamic (compiled classes) in YAF -->
        <add tagPrefix="YAF" namespace="YAF.Controls" assembly="YAF.Controls" />
        <add tagPrefix="YAF" namespace="YAF.Controls.Statistics" assembly="YAF.Controls" />
        <add tagPrefix="YAF" namespace="YAF.Classes" />
        <add tagPrefix="YAF" namespace="YAF" />
      </controls>
      <namespaces>
        <add namespace="YAF.Core" />
        <add namespace="YAF.Controls" />
        <add namespace="YAF.Utils" />
        <add namespace="YAF.Types.Interfaces" />
        <add namespace="YAF.Types" />
      </namespaces>
    </pages>

    <membership defaultProvider="YafMembershipProvider" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <!-- YAF's ASP.NET Membership Provider is designed to work a bit better with YAF.NET options, but is by no means required.
             But, you will not be able to switch providers after installing your forum. -->
        <add name="YafMembershipProvider" applicationName="YetAnotherForum" connectionStringName="yafnet"
             requiresUniqueEmail="true" useSalt="true" type="YAF.Providers.Membership.YafMembershipProvider" />
                
        <!-- Uncomment and set as default if you want to use the built-in ASP.NET membership provider. Password Type of "Hashed" requires a machine key. -->
        <!-- If you want to install YAF.NET inside Azure you need to use that Provider. -->
        <!--<add name="AspNetSqlMembershipProvider" applicationName="YetAnotherForum" connectionStringName="yafnet"
             enablePasswordReset="false" enablePasswordRetrieval="true" maxInvalidPasswordAttempts="5"
             minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="5" passwordAttemptWindow="15"
             passwordFormat="Hashed" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"
             type="System.Web.Security.SqlMembershipProvider" />-->
      </providers>
    </membership>
    
    <roleManager enabled="true" defaultProvider="YafRoleProvider">
      <providers>
        <clear />
        <!-- YAF's ASP.NET Role Provider is designed to work a bit better with YAF.NET options, but is by no means required.
             But, you will not be able to switch providers after installing your forum. -->
        <add name="YafRoleProvider" applicationName="YetAnotherForum" connectionStringName="yafnet"
                     type="YAF.Providers.Roles.YafRoleProvider" />
        <!-- Uncomment and set as default if you want to use use the built-in ASP.NET role provider. -->
        <!--<add name="AspNetSqlRoleProvider" applicationName="YetAnotherForum" connectionStringName="yafnet"
                     type="System.Web.Security.SqlRoleProvider" />-->
      </providers>
    </roleManager>

    <profile enabled="true" defaultProvider="YafProfileProvider" inherits="YAF.Utils.YafUserProfile">
      <providers>
        <clear />
        <!-- YAF's ASP.NET Profile Provider is designed to work a bit better with YAF.NET options, but is by no means required.
             But, you will not be able to switch providers after installing your forum. -->
        <add name="YafProfileProvider" applicationName="YetAnotherForum" connectionStringName="yafnet"
             type="YAF.Providers.Profile.YafProfileProvider" />
        <!-- Uncomment and set as default if you want to use use the built-in ASP.NET profile provider. -->
        <!--<add name="AspNetSqlProfileProvider" applicationName="YetAnotherForum" connectionStringName="yafnet"
                     type="System.Web.Profile.SqlProfileProvider" />-->
      </providers>
    </profile>

    <!--  Enable it if your application is hosted in a web farm or cluster (e.g. GoDaddy hosting) or you are using standard ASP.NET providers and encryption. 
          IMPORTANT: DO NOT USE THIS KEY! You need to generate your own machine key via http://yetanotherforum.net/key
    -->
    <!-- <machineKey validationKey="5B169A4270DB7D6A285CF068B81047D1A73A5FDDE9B204254AB86147B061C3C13DB6E84311E98EDFDD7FF50309DB9632A1C573A716CF120535EC3401BF7706D7"
        decryptionKey="910403AE3DEB5DD0AF73911DBB180518144AC983C1C7E7BDEE1CC8B6C74CBEF3"
        validation="HMACSHA256" decryption="AES"/> 
    -->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="YafTaskModule" />
      <remove name="UrlRewriter" />
      <add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core" preCondition="managedHandler" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter"
           preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="YafHandler" preCondition="integratedMode" verb="GET" path="Resource.ashx"
           type="YAF.YafResourceHandler, YAF" />
    </handlers>
    <caching>
      <profiles>
        <add extension=".png" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".gif" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".jpg" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".js" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".css" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".ico" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".axd" kernelCachePolicy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
      </profiles>
		</caching>
  </system.webServer>
</configuration>