<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rewriter"
             type="YAF.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, YAF.UrlRewriter"
             requirePermission="false" />
  </configSections>
	<connectionStrings>
		<!-- Connection String for SQL Server with Integrated Security -->
		<add name="yafnet"
		     connectionString="data source=(local);initial catalog=yafnet;integrated security=SSPI"
		     providerName="System.Data.SqlClient" />

		<!-- Connection String for SQL Server with Standard Security -->
		<!--<add name="yafnet"
       connectionString="Data Source=(local);Initial Catalog=yafnet;User ID=YOURUSER;Password=YOURPASSWORD"
       providerName="System.Data.SqlClient" />-->

		<!-- Connection String for SQL Server Express -->
		<!--<add name="yafnet"
       connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|Database.mdf;"
       providerName="System.Data.SqlClient"/>-->

		<!-- Connection String for MySql -->
		<!--<add name="yafnet"
       connectionString="Server=localhost;Database=yafnet;UID=root;Password=XXX"
       providerName="MySql.Data.MySqlClient" />-->

		<!-- Connection String for PostgreSQL -->
		<!--<add name="yafnet"
       connectionString="Server=localhost;Port=5432;User Id=postgres;Password=XXX;Database=yafnet;"
       providerName="Npgsql Data Provider" />-->

		<!-- Connection String for SQLite -->
		<!--<add name="yafnet"
       connectionString="Data Source=C:\YAFNET\yafnet.db;Version=3;"
       providerName="System.Data.SQLite" />-->
	</connectionStrings>
	<appSettings>
		<!--
  ******************************************************************
  ** ConfigPassword Key ** Defaults to: Empty (not installed) **

  Password to run configuration (/install/default.aspx) for the forum.
  If you cannot set write permissions on this file (app.config)
  you can manually enter a plain text password here that will
  be required when you attempt to run the configuration. The Install Config
  password is required for security reasons.
   -->
		<add key="YAF.ConfigPassword" value="" />

		<!--
  ******************************************************************
  ** GDPRControllerAddress  ** Defaults to: Empty  **

  Enter the name and address of the GDPR Controller for example...

  "name company name street address postal code City Country"
   -->
		<add key="YAF.GDPRControllerAddress" value="" />

		<!--
  ******************************************************************
  ** BoardID Key ** Defaults to: 1 **

  You can create as many boards as you want and they will function as separate
  forums (with separate users). (Admin->Boards to create new boards.)
  You can also specify "BoardID" in the forum control:

    <YAF:Forum ID="Forum1" runat="server" BoardID="2" />

   -->
		<add key="YAF.BoardID" value="1" />

		<!--
  ******************************************************************
  ** EnableURLRewriting Key ** Defaults to: true **

  If it is enabled all URLs will be rewritten as human friendly URLs
  If Not all URLs are computer friendly.

  When this setting is disabled also change the url:form tag to a
  normal <form ....></form> tag in the default.aspx
  -->
		<add key="YAF.EnableURLRewriting" value="true" />

		<!--
  ******************************************************************
  ** URLRewritingMode Key ** Defaults to: false **
  Unicode - will replace url symbols with unicode characters
  Translit - will replace unicode characters with ascii characters
  no entry - will replace non-ascii symbols with dashes

  -->
		<add key="YAF.URLRewritingMode" value="Translit" />

		<!-- Gets the Prefix used for Url Rewriting - default is "yaf_"
  <add key="YAF.UrlRewritingPrefix" value="yaf_" />
  -->

		<!--
  ******************************************************************
  ** databaseObjectQualifier Key ** Defaults to: yaf_ **

  For advanced users who want to change the prefix for Yaf DB
  structure.
  -->
		<add key="YAF.DatabaseObjectQualifier" value="yaf_" />

		<!--
  ******************************************************************
  ** DatabaseOwner Key ** Defaults to: dbo **

  For advanced users who want to the change the default permissions
  for the YAF DB structure.
  -->
		<add key="YAF.DatabaseOwner" value="dbo" />

		<!--
  ******************************************************************
  ** ConnectionStringName Key ** Defaults to: yafnet **

  The Database Connection string name YAF should use. Defaults
  to "yafnet" for backward compatibility.
  -->
		<add key="YAF.ConnectionStringName" value="yafnet" />

		<!--
  *******************************************************************
  Used for Url Rewriting - default is "default.aspx"
  <add key="YAF.BaseScriptFile" value="default.aspx" />
  -->

		<!--
  ******************************************************************
  ** Optional BoardRoot Key ** Defaults to a an empty string

  Provides a method of moving Images/Uploads to a sub folder within
  the YAF application.
  Make sure there is write permissions to this directory for Uploads to
  work.
  <add key="YAF.BoardRoot" value="~/Boards/" />
  -->

		<!--
  ******************************************************************
  ** Optional MultiBoardFolders Key ** Defaults to false

  Appends BoardRoot with the CurrentBoardID to allow different Images/
  Uploads per board. E.g. /Boards/1/Uploads

  <add key="YAF.MultiBoardFolders" value="true" />
  -->

		<!--
  ******************************************************************
  ** Optional File Root Key ** Defaults to: AppRoot (below) **

  File Root is server-side and used by YAF to find and load files.

  If YAF forum files are not located in the Application Root (~/)
  of your web site you need to specify the additional url
  in this root key. Example: Application Root is "/forum"
  You want your forum at "www.mysite.com/forum". You need to specify
  "/forum" in your root key below.

  PLEASE NOTE:

  YAF .dll files (from the \bin directory in the zip)
  MUST be located in the Application Root.

  <add key="YAF.FileRoot" value="~/forum"/>
  -->


		<!--
  ******************************************************************
  ** DisableJQuery Key ** Defaults to: jQuery **

  Used to set JQuery alias. Used for integration purposes.

  <add key="YAF.JQueryAlias" value="jQuery" />
  -->

		<!--
  ******************************************************************
  ** JQueryOverrideFile ** Defaults to: "" **

  Used to override default YAF JQuery version. Used for integration purposes.

  You can set a local file (the file must be located in the Scripts folder)

  <add key="YAF.JQueryOverrideFile" value="jquery.min.js" />

  or an URL

  <add key="YAF.JQueryOverrideFile" value="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.0.min.js" />
  -->

		<!--
  ******************************************************************
  ** JQueryVersion ** Defaults to: "3.6.0" **

  Used to override default YAF JQuery version. Used for integration purposes.

  <add key="YAF.JQueryVersion" value="3.6.0" />

  -->

		<!--
  ******************************************************************
  ** Optional AppRoot ** Defaults to: "~/" **

  If YAF forum URL is different than the Application Root, specify
  it manually here. Do NOT include server information.

  e.g. ~/forum
  -->

		<add key="YAF.AppRoot" value="~/" />

		<!--
  <add key="YAF.ForceScriptName" value="default.aspx" />

  -->

		<!--
  ******************************************************************
  ** Optional ShowToolBar ** Defaults to: "true" **

  You can hide the tool bar with the optional key below.  You may want
  to do this if you've incorporated YAF into your existing site and
  have your own menu controls for accessing the forum.

  <add key="YAF.ShowToolBar" value="false" />
  -->

		<!--
  ******************************************************************
  ** Optional AllowLoginAndLogoff ** Defaults to: "true" **

  You can turn off the ability for YAF users to login and log off (for
  site integration) by uncommenting the key below.

  <add key="YAF.AllowLoginAndLogoff" value="false" />
  -->

		<!--
  ******************************************************************
  ** Optional SqlCommandTimeout ** Defaults to: "99999" **

  Option to Set the SQL Command Timeout

  In some cases is need to set it to Unlimited value="0"

  <add key="YAF.SqlCommandTimeout" value="99999" />
  -->

		<!--
  ******************************************************************
  ** Optional Facebook Single Sign On Feature

  To turn on that Feature you need to have an Facebook Developer
  Application

  More info on how to enable this feature here...
  https://github.com/YAFNET/YAFNET/wiki/Facebook-Integration

  <add key="YAF.FacebookAPIKey" value="XXXX" />
  <add key="YAF.FacebookSecretKey" value="XXXX" />
  -->

		<!--
  ******************************************************************
  ** Optional Google Single Sign On Feature

  To turn on that Feature you need to have Google API Access
  you can do this here:
  https://code.google.com/apis/console/

  More info on how to enable this feature here...
  https://github.com/YAFNET/YAFNET/wiki/Google-Integration

  <add key="YAF.GoogleClientID" value="XXXX" />
  <add key="YAF.GoogleClientSecret" value="XXXX" />
  -->

		<!--
  ******************************************************************
  ** Optional Twitter Single Sign On Feature

  To turn on that Feature you need to have an Twitter Developer
  Application you can do this here:
  https://dev.twitter.com/apps
  Don't Forget to Define a Callback URL, you can enter anything you want
  it will be overwritten by YAF.

   More info on how to enable this feature here...
  https://github.com/YAFNET/YAFNET/wiki/Twitter-Integration

  <add key="YAF.TwitterConsumerKey" value="XXXX" />
  <add key="YAF.TwitterConsumerSecret" value="XXXX" />
  -->

		<!--
     Optional Twitter HoverCard Feature you also need to setup the values above

  <add key="YAF.TwitterToken" value="XXXX" />
  <add key="YAF.TwitterTokenSecret" value="XXXX" />
  -->


		<!-- Legacy ASP.NET Membership Migration. This can be skipped on a New Install-->

		<!--<membership defaultProvider="YafMembershipProvider" hashAlgorithmType="SHA1"> -->
		<add key="YAF.LegacyMembershipHashAlgorithmType" value="SHA1" />

		<!-- <add connectionStringName="yafnet" applicationName="YAF.NET" name="YafMembershipProvider"
             requiresUniqueEmail="true" hashCase="Upper" hashHex="true" type="YAF.Providers.Membership.YafMembershipProvider"
             enablePasswordReset="true" useSalt="true" requiresQuestionAndAnswer="false"
             />-->
		<add key="YAF.LegacyMembershipHashCase" value="Upper" />
		<add key="YAF.LegacyMembershipHashHex" value="true" />


	</appSettings>
  <rewriter configSource="URLRewriter.config" />
  <system.net>
    <mailSettings>
		<!--  SMTP setup for sending of e-mails from your forum.
		      If the SMTP is SSL, then set SsL to true
			  
			  <network host="localhost"
                         port="25"
                         enableSsl="true"
                         defaultCredentials="true" />-->
		<smtp deliveryMethod="Network" from="forumadmin@yourdomain.com">
			<!-- Uncomment to specify SMTP settings -->
			<!-- network host="localhost" port="25" password="" userName="" / -->
		</smtp>

		<!-- Use this setting for development: pickup directory must be exact path -->
		<!--smtp deliveryMethod="SpecifiedPickupDirectory">
		<specifiedPickupDirectory pickupDirectoryLocation="C:\Inetpub\wwwroot\email" />
		</smtp-->
    </mailSettings>
  </system.net>

  <system.web>
    <httpRuntime targetFramework="4.8" />
    <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly" />

    <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8"
                   fileEncoding="UTF-8" />

    <!-- COMPILATION
    * Set debug to "true" to test out the system in development
    -->
    <compilation debug="false" targetFramework="4.8" optimizeCompilations="false" />

    <httpHandlers>
      <add verb="GET" path="Resource.ashx" type="YAF.Core.Handlers.ResourceHandler, YAF.Core" />
    </httpHandlers>
     <httpModules>
      <add name="UrlRewriter" type="YAF.UrlRewriter.RewriterHttpModule,YAF.UrlRewriter" />
    </httpModules>

    <pages clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web"/>
        <!-- Default: use non-dynamic (compiled classes) in YAF -->
        <add tagPrefix="YAF" namespace="YAF" />
        <add tagPrefix="YAF" namespace="YAF.Configuration" />
        <add tagPrefix="YAF" namespace="YAF.Web.Controls" assembly="YAF.Web" />
      </controls>
      <namespaces>
        <add namespace="YAF.Core" />
        <add namespace="YAF.Types.Interfaces" />
        <add namespace="YAF.Types" />
        <add namespace="YAF.Web.Controls" />
      </namespaces>
    </pages>

    <!--  Enable it if your application is hosted in a web farm or cluster (e.g. GoDaddy hosting) or you are using standard ASP.NET providers and encryption.
          IMPORTANT: DO NOT USE THIS KEY! You need to generate your own machine key via https://yetanotherforum.net/key
    -->
    <!-- <machineKey validationKey="5B169A4270DB7D6A285CF068B81047D1A73A5FDDE9B204254AB86147B061C3C13DB6E84311E98EDFDD7FF50309DB9632A1C573A716CF120535EC3401BF7706D7"
        decryptionKey="910403AE3DEB5DD0AF73911DBB180518144AC983C1C7E7BDEE1CC8B6C74CBEF3"
        validation="HMACSHA256" decryption="AES"/>
    -->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin\languages" />
	  <dependentAssembly>
		  <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
		  <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
	  </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="UrlRewriter" />
      <add name="UrlRewriter" type="YAF.UrlRewriter.RewriterHttpModule,YAF.UrlRewriter"
           preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="YafHandler" preCondition="integratedMode"
           verb="GET"
           path="Resource.ashx"
           type="YAF.Core.Handlers.ResourceHandler, YAF.Core" />
      <add name="YafSitemapHandler"
           path="Sitemap.xml" verb="*"
           type="YAF.Core.Handlers.SiteMapHandler, YAF.Core"
           preCondition="integratedMode" />
      <add name="FileUploader"
           path="FileUploader.ashx"
           verb="*"
           type="YAF.Core.Handlers.FileUploader, YAF.Core"
           preCondition="integratedMode" />
    </handlers>
    <staticContent>
      <remove fileExtension=".ico" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <caching>
      <profiles>
        <add extension=".png" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".gif" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".jpg" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".js"  policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".css" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".ico" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".axd" kernelCachePolicy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".svg" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
        <add extension=".woff2" policy="CacheUntilChange" varyByHeaders="Browser" location="Client" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>