<rewriter>
  <!-- Advanced URL Rewriting Format -->
  <rewrite url="^~/(.+?)?info?\?i=([0-9]+?)&amp;url\=(.+)$" to="~/$1Default.aspx?g=info&amp;i=$2&amp;url=$3" processing="stop" />
  <rewrite url="^~/(.+)?topics/([0-9]+)-((.+))?(/page([0-9]+))(\?(.+))?$" to="~/$1Default.aspx?g=topics&amp;f=$2&amp;p=$6&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?topics/([0-9]+)-((.+))?(\?(.+))?$" to="~/$1Default.aspx?g=topics&amp;f=$2&amp;$6" processing="stop" />
  <rewrite url="^~/(.+)?category/([0-9]+)-((.+))?(\?(.+))?$" to="~/$1Default.aspx?g=forum&amp;c=$2&amp;$6" processing="stop" />
  <rewrite url="^~/(.+)?posts/t([0-9]+)findlastpost-((.+))?(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;t=$2&amp;find=lastpost&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?posts/t([0-9]+)findunread-((.+))?(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;t=$2&amp;find=unread&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?posts/t([0-9]+)-((.+))?(/page([0-9]+))(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;t=$2&amp;p=$6&amp;$8" processing="stop" />
  <rewrite url="^~/(.+)?posts/t([0-9]+)-((.+))?(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;t=$2&amp;$6" processing="stop" />
  <rewrite url="^~/(.+)?posts/m([0-9]+)findlastpost-((.+))?(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;m=$2&amp;find=lastpost&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?posts/m([0-9]+)findunread-((.+))?(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;m=$2&amp;find=unread&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?posts/m([0-9]+)-((.+))?(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;m=$2&amp;$6" processing="stop" />
  <rewrite url="^~/(.+)?profile/([0-9]+)-((.+))?$" to="~/$1Default.aspx?g=profile&amp;u=$2&amp;$6" processing="stop" />
  <rewrite url="^~/(.+)?admin/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?(\?(.+))?$" to="~/$1Default.aspx?g=admin_$2_$3&amp;$5" processing="stop" />
  <rewrite url="^~/(.+)?admin/([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)?(\?(.+))?$" to="~/$1Default.aspx?g=admin_$2&amp;$4" processing="stop" />
  <rewrite url="^~/(.+)?rsstopic/ft([0-9]+)t([0-9]+)-((.+))(_([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+))?(\?(.+))?$" to="~/$1Default.aspx?g=rsstopic&amp;ft=$2&amp;t=$3&amp;$9" processing="stop" />
  <rewrite url="^~/(.+)?rsstopic/ft([0-9]+)f([0-9]+)-((.+))(_([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+))?(\?(.+))?$" to="~/$1Default.aspx?g=rsstopic&amp;ft=$2&amp;f=$3&amp;$9" processing="stop" />
  <rewrite url="^~/(.+)?rsstopic/ft([0-9]+)-(([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+))_([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)(\?(.+))?$" to="~/$1Default.aspx?g=rsstopic&amp;ft=$2&amp;pg=$3&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?rsstopic/ft([0-9]+)-(([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+))-([\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Pc}-]+)(\?(.+))?$" to="~/$1Default.aspx?g=rsstopic&amp;ft=$2&amp;pg=$3&amp;$7" processing="stop" />
  <rewrite url="^~/(.+?)?login(\?(.+))?$" to="~/$1Default.aspx?g=login&amp;$3" processing="stop" />
  <if url="^((?!\.xml|\.ashx|\.asmx|\.axd|\.gif|\.png|\.jpg|\.ico|\.svg|\.ttf|\.woff|\.woff2|\.pdf|\.css|\.js|\/install|error\.aspx|auth\.aspx|default\.aspx|popup\.aspx|advanced\.aspx|digest\.aspx|ftb.imagegallery\.aspx|ckfinder|api).)*$">
    <rewrite url="^~/(.+)?\?(.+)?$" to="~/Default.aspx?g=$1&amp;$2" processing="stop" />
    <rewrite url="^~/(.+)?\.aspx$" to="~/Default.aspx?g=$1" processing="stop" /> 
    <rewrite url="^~/(.+)?$" to="~/Default.aspx?g=$1" processing="stop" />
  </if>
</rewriter>