<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section name="rewriter"
                 type="YAF.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, YAF.UrlRewriter"
                 requirePermission="false" />
    </configSections>

    <connectionStrings configSource="db.config" />
    <appSettings configSource="app.config" />
    <rewriter configSource="URLRewriter.config" />

    <system.net>
        <mailSettings>
            <smtp configSource="mail.config" />
        </mailSettings>
    </system.net>

    <system.web>
      <httpRuntime targetFramework="4.7.2" />
      <xhtmlConformance mode="Strict" />
      <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly" />

        <!-- GLOBALIZATION
            This section sets the globalization settings of the application. 
            Utf-8 is not supported on Netscape 4.x 
            If you need Netscape compatibility leave iso-8859-1.
            UTF-8 is recommended for complex languages
        -->
        <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
        <!--<globalization culture="en-US" uiCulture="en"  fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1"/>-->
        
        <authentication mode="Forms">
            <forms name=".YAFNET_Authentication" protection="All" timeout="43200" cookieless="UseCookies" />
        </authentication>

        <!-- COMPILATION
        * Set debug to "true" to test out the system in development       
        -->
      <compilation debug="false" targetFramework="4.7.2" optimizeCompilations="false">
        <assemblies>
          <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        </assemblies>
      </compilation>
        
        <pages clientIDMode="AutoID">
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions" />
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions" />
                <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web"/>
                <!-- Default: use non-dynamic (compiled classes) in YAF -->
                <add tagPrefix="YAF" namespace="YAF" />
                <add tagPrefix="YAF" namespace="YAF.Configuration" />
                <add tagPrefix="YAF" namespace="YAF.Web.Controls" assembly="YAF.Web" />
            </controls>
            <namespaces>
              <add namespace="YAF.Core" />
              <add namespace="YAF.Utils" />
              <add namespace="YAF.Types.Interfaces" />
              <add namespace="YAF.Types" />
              <add namespace="YAF.Web.Controls" />
            </namespaces>
        </pages>

        <membership defaultProvider="YafMembershipProvider" hashAlgorithmType="MD5">
            <providers>
                <clear />
                <add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafMembershipProvider"
                     requiresUniqueEmail="false" type="YAF.Core.Membership.YafMembershipProvider" hashHex="true"
                     hashCase="upper" />
            </providers>
        </membership>

    </system.web>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="bin;bin\languages" />
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
          <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="12.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core" preCondition="managedHandler" />
            <add name="UrlRewriter" type="YAF.UrlRewriter.RewriterHttpModule,YAF.UrlRewriter" preCondition="managedHandler" />
        </modules>
        <handlers>
          <add name="YafHandler" preCondition="integratedMode"
               verb="GET"
               path="Resource.ashx"
               type="YAF.Core.Handlers.ResourceHandler, YAF.Core" />
          <add name="YafSitemapHandler"
               path="Sitemap.xml" verb="*"
               type="YAF.Core.Handlers.SiteMapHandler, YAF.Core"
               preCondition="integratedMode" />
          <add name="FileUploader"
               path="FileUploader.ashx"
               verb="*"
               type="YAF.Core.Handlers.FileUploader, YAF.Core"
               preCondition="integratedMode" />
        </handlers>

      <staticContent>
        <remove fileExtension=".ico" />
        <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
        <remove fileExtension=".ttf" />
        <remove fileExtension=".svg" />
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      </staticContent>
    </system.webServer>
</configuration>