<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section name="rewriter"
                 type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"
                 requirePermission="false" />
    </configSections>

    <connectionStrings configSource="db.config" />
    <appSettings configSource="app.config" />
    <rewriter configSource="URLRewriter.config" />

    <system.net>
        <mailSettings>
            <smtp configSource="mail.config" />
        </mailSettings>
    </system.net>

    <system.web>
        
        <httpRuntime targetFramework="4.6.2" />
        
        <xhtmlConformance mode="Strict" />
        
        <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly" />

        <!-- GLOBALIZATION
            This section sets the globalization settings of the application. 
            Utf-8 is not supported on Netscape 4.x 
            If you need Netscape compatibility leave iso-8859-1.
            UTF-8 is recommended for complex languages
        -->
        <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
        <!--<globalization culture="en-US" uiCulture="en"  fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1"/>-->
        
        <authentication mode="Forms">
            <forms name=".YAFNET_Authentication" protection="All" timeout="43200" cookieless="UseCookies" />
        </authentication>

        <!-- COMPILATION
        * Set debug to "true" to test out the system in development 
        * Set optimizeCompilation to "true" for *MUCH* faster application pool
            restarts on larger .NET systems. But, please read and understand the caveats
            before enabling this settings:
            http://blogs.msdn.com/b/davidebb/archive/2009/04/15/a-new-flag-to-optimize-asp-net-compilation-behavior.aspx             
        -->
        <compilation debug="false" targetFramework="4.6.2" />
        
        <pages clientIDMode="AutoID">
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions" />
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions" />
                <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web"/>
                <!-- Default: use non-dynamic (compiled classes) in YAF -->
                <add tagPrefix="YAF" namespace="YAF.Controls" assembly="YAF.Controls" />
                <add tagPrefix="YAF" namespace="YAF.Controls.Statistics" assembly="YAF.Controls" />
                <add tagPrefix="YAF" namespace="YAF.Classes" />
                <add tagPrefix="YAF" namespace="YAF" />
            </controls>
            <namespaces>
                <add namespace="YAF.Core" />
                <add namespace="YAF.Controls" />
                <add namespace="YAF.Utils" />
                <add namespace="YAF.Types.Interfaces" />
                <add namespace="YAF.Types" />
            </namespaces>
        </pages>

        <roleManager enabled="true" defaultProvider="YafRoleProvider">
            <providers>
                <clear />
                <add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafRoleProvider"
                     type="YAF.Providers.Roles.YafRoleProvider" />
            </providers>
        </roleManager>

        <membership defaultProvider="YafMembershipProvider" hashAlgorithmType="MD5">
            <providers>
                <clear />
                <add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafMembershipProvider"
                     requiresUniqueEmail="false" type="YAF.Providers.Membership.YafMembershipProvider" hashHex="true"
                     hashCase="upper" />
            </providers>
        </membership>
        <profile enabled="true" defaultProvider="YafProfileProvider" inherits="YAF.Utils.YafUserProfile">
            <providers>
                <clear />
                <add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafProfileProvider"
                     type="YAF.Providers.Profile.YafProfileProvider" />
            </providers>
        </profile>

    </system.web>
    
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core" preCondition="managedHandler" />
            <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" preCondition="managedHandler" />
        </modules>
        <handlers>
            <add name="YafHandler" preCondition="integratedMode" verb="GET" path="Resource.ashx" type="YAF.YafResourceHandler, YAF" />
        </handlers>
    </system.webServer>
</configuration>