<appSettings>
  <add key="YAF.ConfigPassword" value="pass" />
	<add key="YAF.BoardID" value="1" />
  <add key="YAF.EnableURLRewriting" value="true" />
  <add key="YAF.URLRewritingMode" value="Unicode" />
  <add key="YAF.UseSMTPSSL" value="false" />  
  <add key="YAF.DatabaseObjectQualifier" value="yaf_" />
  <add key="YAF.DatabaseOwner" value="dbo" />
  <add key="YAF.ConnectionStringName" value="yafnet" />
  <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml" />
  <add key="YAF.ProviderKeyType" value="System.Guid" />
  <add key="YAF.MobileUserAgents" value="iphone,ipad,midp,windows ce,windows phone,android,blackberry,opera mini,mobile,palm,portable,webos,htc,armv,lg/u,elaine,nokia,playstation,symbian,sonyericsson,mmp,hd_mini"/>
  <add key="YAF.FileRoot" value="~/forum"/>
  <add key="YAF.AppRoot" value="~/forum" />
  <add key="YAF.EnableURLRewriting" value="true" />
  <add key="YAF.BaseUrlMask" value="http://localhost:56314/" />
  <add key="YAF.BaseScriptFile" value="forum.aspx" />
  <add key="YAF.ForceScriptName" value="forum.aspx" />

  <!-- RadEditor configuration settings-->
  <add key="YAF.RadEditorSkin" value="Black"/>
  <add key="YAF.UseRadEditorToolsFile" value="true"/>
  <add key="YAF.RadEditorToolsFile" value="/forum/editors/radEditor/toolsFile.xml" />
  <!-- RadEditor configuration settings-->
</appSettings>
