<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.0" targetFramework="net452" />
  <package id="Farsi.Library" version="2.5.1.5" targetFramework="net452" />
  <package id="ServiceStack.Common" version="5.1.0" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="5.1.0" targetFramework="net452" />
  <package id="ServiceStack.OrmLite" version="5.1.0" targetFramework="net452" />
  <package id="ServiceStack.Text" version="5.1.0" targetFramework="net452" />
  <package id="ValueInjecter" version="3.1.1.5" targetFramework="net452" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net40" />
</packages>