<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.0" targetFramework="net462" />
  <package id="Farsi.Library" version="2.7.0" targetFramework="net462" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net462" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net462" />
  <package id="ServiceStack.Common" version="5.1.0" targetFramework="net462" />
  <package id="ServiceStack.Interfaces" version="5.1.0" targetFramework="net462" />
  <package id="ServiceStack.OrmLite" version="5.1.0" targetFramework="net462" />
  <package id="ServiceStack.Text" version="5.1.0" targetFramework="net462" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net462" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net40" />
</packages>