<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--
       ** Test Forum Url Key ** Defaults to:  **
    
       If you want to use an existing Forum Installation for the Unit Tests
       here you need to Specify the URL. You also need to set the Key 
       YAF.UseExistingInstallation to "True".
    
       Also Set the YAF.TestApplicationName Key to your Forum Name
  	 -->
    <add key="YAF.TestForumUrl" value="http://localhost:63645/" />
    <!-- 
       ** Test Application Name Key ** Defaults to: YAFNETTEST **
       Setting to Define the Forum Name and also the Application Name
       for the IIS Application
    -->
    <add key="YAF.TestApplicationName" value="YAFNETTEST" />
    <!-- 
       ** Use Existing Installation Key ** Defaults to: False **
       Setting to Decide if the Unit Tests should use an Existing
       YAF Installation, or if not an Test Installation will be autom.
       created for the Unit Tests, and deleted when the Test are finished or canceled.
    -->
    <add key="YAF.UseExistingInstallation" value="False" />
    
    <!-- Install Tests Settings (Only used if YAF.UseExistingInstallation is set to False)-->
    <!-- 
       ** Default Website Name Key ** Defaults to: Default Web Site **
       Setting to Define the Name of the Default Website Name inside the IIS.
    -->
    <add key="YAF.DefaultWebsiteName" value="Default Web Site" />
    <!-- 
       ** Package Location Key ** Defaults to: Local **
       Setting to Define if the Test Installation Release Package should be 
        Local - Define Zip Location on the Setting YAF.LocalReleasePackageFile
        CodePlex - Download the Latest Release From the CodePlex Download Page
                   Define the Url on YAF.ReleaseDownloadUrl
    -->
    <add key="YAF.PackageLocation" value="Local"/>
    <!--<add key="YAF.PackageLocation" value="CodePlex"/>-->
    <!-- 
       ** Release Download Url Key ** Defaults to: http://download.codeplex.com/Download?ProjectName=yafnet&amp;DownloadId=335897&amp;FileTime=129724540628500000&amp;Build=18394 **
       Setting to Define which Version should be download from CodePex.
    -->
    <add key="YAF.ReleaseDownloadUrl" value="http://download.codeplex.com/Download?ProjectName=yafnet&amp;DownloadId=335897&amp;FileTime=129724540628500000&amp;Build=18394" />
    <!-- 
       ** Local Release Package File Key ** Defaults to: ..\..\testfiles\YAF-v1.9.6-RC1-BIN.zip **
       Setting to Define the Path For the Local Release Package File.
    -->
    <add key="YAF.LocalReleasePackageFile" value="..\..\testfiles\YAF-v1.9.6-RC1-BIN.zip" />
    
    <!-- 
       ** Install Physical Path Key ** Defaults to: C:\Tests\ **
       Setting to Define The Physical Install Path where the YAF Test Installtion should be Installed to.
    -->
    <add key="YAF.InstallPhysicalPath" value="C:\Tests\" />
    <!-- 
       ** Test Application Pool Key ** Defaults to: ASP.NET v4.0 Classic **
       Setting to Define Application Pool for the YAF Test Application.
    -->
    <add key="YAF.TestApplicationPool" value="ASP.NET v4.0 Classic" />

    <!-- Database Settings for Test Installation-->
    <!-- 
       ** Database Server Key ** Defaults to: (local) **
       Setting to Define the Config Password for the YAF Application Test Installation.
    -->
    <add key="YAF.DatabaseServer" value="(local)"/>

    <!-- 
       ** Test Database Key ** Defaults to: YAFNETTEST **
       Setting to Define the Test Database Name that will be automatically Created on the Installation
       and deleted after the Tests.
    -->
    <add key="YAF.TestDatabase" value="YAFNETTEST"/>

    <!-- 
       ** Config Password Key ** Defaults to: pass **
       Setting to Define the Config Password for the YAF Application Test Installation.
    -->
    <add key="YAF.ConfigPassword" value="pass"/>

    <!-- 
       ** Test Forum ID Key ** Defaults to: 1 **
       Setting to Define the Forum ID which will be used for Several Unit Tests.
    -->
    <add key="YAF.TestForumID" value="1" />
    <!-- 
       ** Test Topic ID Key ** Defaults to: 1 **
       Setting to Define the Topic ID which will be used for Several Unit Tests.
    -->
    <add key="YAF.TestTopicID" value="1" />
    

    <!-- Install Mail Settings -->
    <!-- Leave the Settings by Default and the included Test Mail 
         Server will be used -->
    <add key="YAF.UseTestMailServer" value="True" />
    <add key="YAF.TestMailHost" value="localhost"/>
    <add key="YAF.TestMailPort" value="25"/>

    <add key="YAF.TestForumMail" value="forum@yafnettest.com"/>
    <add key="YAF.TestMailUserName" value="forum@yafnettest.com"/>
    <add key="YAF.TestMailPassword" value="pass"/>

    <!-- Test User Accounts -->
    <!-- Admin(Host) Test Account -->
    <!-- 
       ** Test Admin UserName and Test Admin Password Key ** Defaults to: Admin/AdminAdmin1234?! **
       Setting to Define Test Admin User which will be used for all Admin Tests. This is also the Host
       Account for the YAF Test Installation
    -->
    <add key="YAF.AdminUserName" value="Admin" />
    <add key="YAF.AdminPassword" value="AdminAdmin1234?!" />

    <!-- Test User Account -->
    <!-- 
       ** Test User UserName and Test User Password Key ** Defaults to: TestUser/TestUserTestUser1234?! **
       Setting to Define Test User Account which will be used for all User Test, 
       if this Account is not found it will be automatically registered.
    -->
    <add key="YAF.TestUserName" value="TestUser" />
    <add key="YAF.TestUserPassword" value="TestUserTestUser1234?!" />
  </appSettings>
  <NUnit>
    <TestRunner>
      <add key="ApartmentState" value="STA"/>
    </TestRunner>
  </NUnit>
</configuration>