body, td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8.5pt;
}

input{font:8pt Verdana,Arial,Helvetica,sans-serif}

select{background:#ffffff;font:8pt Verdana,Arial,Helvetica,sans-serif}

textarea{background:#ffffff;border:1px solid #000000;
font:8pt Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}

form{display:inline}

input{border:1px solid #4C77B6;font-size:8pt}

input.pbutton{background:#EEF5FF;}

/* For BBCode Post Buttons */
.ButtonOut
{
	filter: alpha(opacity=70);
	border: #7F9DB9 1px solid;
}
.ButtonOver
{
	background-color: #FFE1AC;
	border: #FFAD55 1px solid;
}
.ButtonChecked
{
	background-color: #FFCB7E;
	border: #FFAD55 1px solid;
}
.ButtonOff
{
	filter: gray() alpha(opacity=30);
	background-color: #C0C0C0;
	border: #7F9DB9 1px solid;
}

/*  */
img 
{
	border: 0;
}

/* hyperlinks */
a		{ text-decoration: none; color: #303030; }
a:hover		{ text-decoration: underline; color: #efefb4; }

/* Header 1 - Main header */
.header1 {
	background-image: url('bg_header1.png');
	background-color: #7D8CFF;
	color: #FFFFFF;
	font-weight: bold;
	height: 32px;
	font-size:12px;
}

/* Links in header1 */
tr.header1 a		{color:#FFFFFF;text-decoration:none}
tr.header1 a:hover	{color:#C0C0FF;text-decoration:underline}

/* Header 2 - Sub header */
.header2 {
	background-image: url('bg_header2.png');
	background-color: #7D8CFF;
	color: #3A4F6C;
	font-weight: bold;
	height: 28px;
}
a.header2 { height: auto; background-color: Transparent; border-style: none; background-image: none; }

td.header2links a				{color: #3A4F6C;text-decoration:none;font-size:7.5pt;}
td.header2links	a:hover	{color: #3A4F6C;text-decoration:none;font-size:7.5pt;}

/* Footer1 - Bottom of tables */
.footer1 {
	background-image: url('bg_footer1.png');
	font-size: 7pt;
	height: 28px;
}

.footer1 select, .footer1 td
{
	font-size: 7pt;
}

.postformheader 
{
	background-color: #D1DCEB;
	font-weight:bold;
}

/* Header of posts */
.postheader 
{
	background-color: #E4EAF2;
	color:#404040;
}

/* User info and post/article */
.post 
{
	background-color: #DFE6EF;
	color:#404040;
}

.post_alt
{
	background-color: #dfe9f7;
	color:#404040;	
}

.post_priority
{
	font-weight:bold;
}

.post_link
{

}

/* Footer of posts */
.postfooter 
{
    background-color: #D1DCEB;
}

/* Area between posts */
.postsep 
{
	background-color: #8394B2;
	height: 2px 
}

/* most tables are class 'content' */
table.content {
	font-family: verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
	border: solid 1px #8394B2;
	color: #000000;
	padding: 0px;
	background-color: #FFFFFF;
}

.content td
{
	padding: 5px;
}

.content td table td table td {
	padding: 0px;	
}

#RichEdit td 
{
	padding: 0px;
}

/* links inside content table*/
.content a		{ color: #555555; text-decoration: none; }
.content a:hover	{ color: #3A4F6C; text-decoration: underline;  }

/* used for quoting messages */
.quote 
{
	margin-left: 16px;
	padding-left: 16px;
}

.innerquote 
{
	padding: 4px;
	background-color: #E4EAF2;
	border: solid 1px #8394B2;
}

/* used for code */
.code
{
	margin-left: 16px;
	padding-left: 16px;	
}

.innercode
{
	padding: 4px;
	/*background-color: #B2C8F6;*/
	background-color: #FFFFFF;
	border: solid 1px #95B4F3;
	/*color:#014C00;*/
	color:#000000;
	font-family:Courier New,Courier;
}

/* font sizes */
.smallfont	{ font-size: 7.5pt; }
.largefont	{ font-size: 9pt; }

/* Image Links */
a.imagelink 
{
	font-size: 8pt;
	font-weight: bold;
	color: #000080;
}
a:hover.imagelink
{
	text-decoration: underline;
	color: #0000FF;
	/*background-color: #D0D0D0;*/
}

/* Used for editor textarea */
.posteditor 
{
	width: 100%;
	height: 200px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
}

/* Table just above and below tables */
table.command 
{
	/*border: solid 1px blue;*/
	padding: 3px;
}

/* p-tag at the top of pages with navigation links */
.navlinks { font-weight: bold; color: #202020; font-size: 9pt; }
.navlinks a { color: #000000; text-decoration: none }
.navlinks a:hover { color: #6594D5; }

/* for printing */
.print 
{
	border: solid 1px #C0C0C0;
}
.printheader 
{
	background-color: #DDDDDD;
	color: #000000;
	padding: 4px;
}
.printbody 
{
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
}

/*
Use this to setup overflow feature for your site.
On IE that would mean specifying a width so that the overflow will work properly.
This CSS already works on FireFox.
*/
div.postdiv
{
	width: 100%;
	min-height: 100px;
	overflow: auto;	
}