.yafnet,
.yafnet td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8.5pt;
}
.yafnet input{font:8pt Verdana,Arial,Helvetica,sans-serif}
.yafnet select{background:#ffffff;font:8pt Verdana,Arial,Helvetica,sans-serif}
.yafnet textarea{background:#ffffff;border:1px solid #000000;font:8pt Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}
.yafnet form{display:inline}
.yafnet input{border:1px solid #4C77B6;font-size:8pt}
.yafnet input.pbutton{background:#EEF5FF;}
/* For BBCode Post Buttons */
.yafnet .ButtonOut {
	filter: alpha(opacity=70);
	border: #7F9DB9 1px solid;
}
.yafnet .ButtonOver {
	background-color: #FFE1AC;
	border: #FFAD55 1px solid;
}
.yafnet .ButtonChecked {
	background-color: #FFCB7E;
	border: #FFAD55 1px solid;
}
.yafnet .ButtonOff {
	filter: gray() alpha(opacity=30);
	background-color: #C0C0C0;
	border: #7F9DB9 1px solid;
}
.yafnet img {
	border: 0;
}
.yafnet ul {
	margin: 2px 2px 2px 2px;
	padding: 0;
}
.yafnet li {
	margin-left: 15px;
}
/* hyperlinks */
.yafnet a		{ text-decoration: none; color: #303030; }
.yafnet a:hover		{ text-decoration: underline; color: #efefb4; }
/* Header 1 - Main header */
.yafnet .header1 {
	background-image: url('bg_header1.png');
	background-color: #7D8CFF;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 22px;
	font-size:12px;
}
/* Links in header1 */
.yafnet tr.header1 a		{color:#FFFFFF;text-decoration:none}
.yafnet tr.header1 a:hover	{color:#C0C0FF;text-decoration:underline}
/* Header 2 - Sub header */
.yafnet .header2 {
	background-image: url('bg_header2.png');
	background-color: #7D8CFF;
	color: #3A4F6C;
	font-weight: bold;
	line-height: 18px;
}
.yafnet a.header2 { height: auto; background-color: Transparent; border-style: none; background-image: none; }
.yafnet td.header2links a				{color: #3A4F6C;text-decoration:none;font-size:7.5pt;}
.yafnet td.header2links	a:hover	{color: #3A4F6C;text-decoration:none;font-size:7.5pt;}
/* Footer1 - Bottom of tables */
.yafnet .footer1 {
	background-image: url('bg_footer1.png');
	font-size: 7pt;
	height: 28px;
}
.yafnet .footer1 select,
.yafnet .footer1 td {
	font-size: 7pt;
}
.yafnet .postformheader {
	background-color: #D1DCEB;
	font-weight:bold;
}
/* file attachment css */
.yafnet .fileattach {
	padding: 5px;
	background-color: #eeeeee;
	border: solid 1px #808080;
}
.yafnet .fileattach .filetitle,
.yafnet .fileattach .imgtitle {
	font-weight: bold;
	color: #444444;
	margin-bottom: 5px;
	font-size: 1.1em;
}
.yafnet .fileattach .attachedimg,
.yafnet .fileattach .attachedfile {
	margin-left: 10px;
}
.yafnet .fileattach a {
	font-weight: bold;
}
/* Header of posts */
.yafnet .postheader {
	background-color: #E4EAF2;
	color:#404040;
}
/* User info and post/article */
.yafnet .post {
	background-color: #DFE6EF;
	color:#404040;
}
.yafnet .post_alt {
	background-color: #dfe9f7;
	color:#404040;	
}
.yafnet .post_priority {
	font-weight:bold;
}
/* Footer of posts */
.yafnet .postfooter {
    background-color: #D1DCEB;
}
/* Area between posts */
.yafnet .postsep {
	background-color: #8394B2;
	height: 2px 
}
/* most tables are class 'content' */
.yafnet table.content {
	font-family: verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
	border: solid 1px #8394B2;
	color: #000000;
	padding: 0px;
	background-color: #FFFFFF;
}
.yafnet .content td {
	padding: 5px;
}
.yafnet .content td table td table td {
	padding: 0px;	
}
.yafnet #RichEdit td {
	padding: 0px;
}
/* links inside content table*/
.yafnet .content a		{ color: #555555; text-decoration: none; }
.yafnet .content a:hover	{ color: #3A4F6C; text-decoration: underline;  }
/* used for quoting messages */
.yafnet .quote {
	margin-left: 16px;
	padding-left: 16px;
}
.yafnet .innerquote {
	padding: 4px;
	background-color: #E4EAF2;
	border: solid 1px #8394B2;
}
/* used for code */
.yafnet .code {
	margin-left: 16px;
	padding-left: 16px;	
}
.yafnet .innercode {
	padding: 4px;
	background-color: #FFFFFF;
	border: solid 1px #95B4F3;
	color:#000000;
	font-family:Courier New,Courier;
}
/* font sizes */
.yafnet .smallfont	{ font-size: 7.5pt; }
.yafnet .largefont	{ font-size: 9pt; }
/* Image Links */
.yafnet a.imagelink {
	font-size: 8pt;
	font-weight: bold;
	color: #000080;
}
.yafnet a:hover.imagelink {
	text-decoration: underline;
	color: #0000FF;
	/*background-color: #D0D0D0;*/
}
/* Used for editor textarea */
.yafnet .posteditor {
	width: 100%;
	height: 200px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
}
/* Table just above and below tables */
.yafnet table.command {
	/*border: solid 1px blue;*/
	padding: 3px;
}
/* p-tag at the top of pages with navigation links */
.yafnet .navlinks { font-weight: bold; color: #202020; font-size: 9pt; }
.yafnet .navlinks a { color: #000000; text-decoration: none }
.yafnet .navlinks a:hover { color: #6594D5; }
/* for printing */
.yafnet .print {
	border: solid 1px #C0C0C0;
}
.yafnet .printheader {
	background-color: #DDDDDD;
	color: #000000;
	padding: 4px;
}
.yafnet .printbody {
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
}
/*
Use this to setup overflow feature for your site.
On IE that would mean specifying a width so that the overflow will work properly.
This CSS already works on FireFox.
*/
.yafnet div.postdiv {
	width: 100%;
	min-height: 100px;
	overflow: auto;	
}
/* CSS Pagelinks */
.yafnet .yafpager {
	color: #555555;
	margin: 6px 0px 6px 0px;
}
.yafnet .pagelink,
.yafnet .pagelinkfirst,
.yafnet .pagelinklast,
.yafnet .pagecurrent,
.yafnet .pagecount{
	background: #F5F5F5;
	border: 1px solid #444444;
	padding: 1px 3px 1px 3px;
	margin-right: 2px;
}
.yafnet .pagecount {
	margin-right: 5px;
}
.yafnet .pagelinkfirst,
.yafnet .pagelinklast{
	background: #e0e0e0;
}
.yafnet .pagecurrent{
	background: #dddddd;
}
.yafnet .pagelink a,
.yafnet .pagelinkfirst a,
.yafnet .pagelinklast a {
	text-decoration: none;
	color: #000090;
}
/* CCS Buttons */
.yafnet a.yaflittlebutton {
	background: transparent url('ButtonEnd.gif') no-repeat scroll top right;
    color: #FFFFFF;
    display: block;
    float: right;
	font-size: 9px; 
    height: 19px;
    margin: 2px 0px 2px 2px;    
    padding-right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
}
.yafnet a.yaflittlebutton span {
    background: transparent url('ButtonBack.gif') no-repeat;
    display: block;
    line-height: 11px;
    padding: 4px 3px 4px 8px;
}
.yafnet a.yaflittlebutton img {
	vertical-align: middle;
	padding: 0px 4px 2px 0px;
}
.yafnet a.yaflittlebutton:hover {
	color: #000000;
	text-decoration: none;
}
.yafnet a.yaflittlebutton:active {
    background-position: bottom right;
    outline: none;
}
.yafnet a.yaflittlebutton:active img {
    padding: 0px 4px 2px 0px;
}
.yafnet a.yaflittlebutton:active span{
    background-position: bottom left;
    padding: 5px 3px 3px 8px;
}
.yafnet a.yafcssbigbutton{
	background: transparent url('ButtonEndBig.gif') no-repeat scroll top right;
    color: #FFFFFF;
    display: block;
    float: right;
	font-size: 10px; 
    height: 24px;
    margin: 2px 0px 2px 2px;    
    padding-right: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
}
.yafnet a.yafcssbigbutton span{
    background: transparent url('ButtonBackBig.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 3px 5px 7px;
}
.yafnet a.yafcssbigbutton img{
	vertical-align: middle;
	padding: 0px 4px 2px 0px;
}
.yafnet a.yafcssbigbutton:hover {
	color: #000000;
	text-decoration: none;
}
.yafnet a.yafcssbigbutton:active{
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
}
.yafnet a.yafcssbigbutton:active img{
    padding: 0px 4px 2px 0px;
}
.yafnet a.yafcssbigbutton:active span{
    background-position: bottom left;
    padding: 6px 3px 4px 7px;
}
/* CSS Popupmenu */
.yafnet .yafpopupmenu {
	background-color: #ffffff;
	border: solid 1px #333333;
	
}
.yafnet .yafpopupmenu ul {	
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.yafnet .yafpopupmenu li {
	padding: 5px 10px 5px 10px;
	margin: 0;
}
.yafnet .yafpopupmenu li.popupitemhover {
	background-color: #cccccc;
}
/* ajax tabs */
/* default layout */
.yafnet .ajax__tab_default .ajax__tab_header {white-space:nowrap;}
.yafnet .ajax__tab_default .ajax__tab_outer {display:-moz-inline-box;display:inline-block}
.yafnet .ajax__tab_default .ajax__tab_inner {display:-moz-inline-box;display:inline-block}
.yafnet .ajax__tab_default .ajax__tab_tab {margin-right:4px;overflow:hidden;text-align:center;cursor:pointer;display:-moz-inline-box;display:inline-block}

/* xp theme */
.yafnet .ajax__tab_xp .ajax__tab_header {font-family:verdana,tahoma,helvetica;font-size:11px;background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-line.gif")%>) repeat-x bottom;}
.yafnet .ajax__tab_xp .ajax__tab_outer {padding-right:4px;background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-right.gif")%>) no-repeat right;height:21px;}
.yafnet .ajax__tab_xp .ajax__tab_inner {padding-left:3px;background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-left.gif")%>) no-repeat;}
.yafnet .ajax__tab_xp .ajax__tab_tab {height:13px;padding:4px;margin:0;background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab.gif")%>) repeat-x;}
.yafnet .ajax__tab_xp .ajax__tab_hover .ajax__tab_outer {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-hover-right.gif")%>) no-repeat right;}
.yafnet .ajax__tab_xp .ajax__tab_hover .ajax__tab_inner {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-hover-left.gif")%>) no-repeat;}
.yafnet .ajax__tab_xp .ajax__tab_hover .ajax__tab_tab {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-hover.gif")%>) repeat-x;}
.yafnet .ajax__tab_xp .ajax__tab_active .ajax__tab_outer {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-active-right.gif")%>) no-repeat right;}
.yafnet .ajax__tab_xp .ajax__tab_active .ajax__tab_inner {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-active-left.gif")%>) no-repeat;}
.yafnet .ajax__tab_xp .ajax__tab_active .ajax__tab_tab {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-active.gif")%>) repeat-x;}
.yafnet .ajax__tab_xp .ajax__tab_body {font-family:verdana,tahoma,helvetica;font-size:10pt;border:1px solid #000000;border-top:0;padding:5px;}

/* scrolling */
.yafnet .ajax__scroll_horiz {overflow-x:scroll;}
.yafnet .ajax__scroll_vert {overflow-y:scroll;}
.yafnet .ajax__scroll_both {overflow:scroll}
.yafnet .ajax__scroll_auto {overflow:auto}