.dropdown-menu {
    max-height: max-content;
    min-width: max-content;
}

.dropdown-sm {
    width: 250px;
}

/* Select Drop downs */
.select2-image-select-icon {
    margin-left: 4px;
    padding-right: 5px;

    img {
        max-height: 20px;
        max-width: 20px;
    }
}

.select2-select,
.select2-image-select {
    width: 100%
}

// -- Main Menu
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}