/* Help sidebar */
.sidebar-sticky ul > li:nth-child(odd) {
    background: $light;
}
.sidebar-sticky ul > li:hover {
    background-color: $dropdown-link-hover-bg
}
.sidebar-sticky ul > li.active {
    background-color: $dropdown-link-active-bg;
}
.sidebar-sticky ul > li a.nav-link {
    display: block;
    color: $gray-800;
}

