.dropdown-menu {
    max-height: max-content;
    min-width: max-content;
}

.dropdown-sm {
    width: 250px;
}

/* Select Drop downs */
.choices-forum {
    min-width:500px
}

// -- Main Menu
.dropdown-submenu {
    position: relative;
}