.dropdown-toggle {
    margin-right: 0.30rem;
}

.dropdown-menu {
    max-height: max-content;
    min-width: max-content;
}

/* Select Drop downs */
.select2-image-select-icon {
    margin-left: 4px;
    padding-right: 5px;

    img {
        max-height: 20px;
        max-width: 20px;
    }
}