<!--
	SMTP setup for sending of e-mails from your forum.
	If the SMTP is SSL, you must edit the appSettings and set
	"YAF.UseSMTPSSL" to "true".
-->
<smtp deliveryMethod="Network" from="forumadmin@yourdomain.com">
	<!-- Uncomment to specify SMTP settings -->
	<!-- network host="localhost" port="25" password="" userName="" / -->
</smtp>

<!-- Use this setting for development: pickup directory must be exact path -->
<!--smtp deliveryMethod="SpecifiedPickupDirectory">
	<specifiedPickupDirectory pickupDirectoryLocation="C:\Inetpub\wwwroot\email" />
</smtp-->
