/* www.djrm.net - 19.05.04 - djrm1 theme */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	background-color: #F7F3F7;

scrollbar-face-color: BAC8D5;
scrollbar-highlight-color: DCF5F8;
scrollbar-3dlight-color: 879BA9;
scrollbar-darkshadow-color: 90ABBE;
scrollbar-shadow-color: DCF5F8;
scrollbar-arrow-color: FFFFFF;
scrollbar-track-color: E0EAEF;
}
/* for the hover color and alt table color */
.bghover
{
background-color:#3300CC
}
.tbbg a {
	background-color: #white;
}
.tbbg a:hover {
	background-color: #E4E4E4;
}





td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}
.tbt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	background-image: url(/data/images/110504/ttf.gif);
	background-repeat: repeat-x;
}
.tbt2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.ft1 {
	background-image: url(/data/images/110504/djrm_1105_r4_c22.gif);
	background-repeat: repeat-x;
}



td, input, select
{
	font-family: Verdana;
	font-size: 8pt;
	
}

/*  */
img 
{
	border: 0;
}

/* hyperlinks */
a			{ text-decoration: none; color: #000080; }
a:hover		{ text-decoration: underline; }

/* Header 1 - Main header */
.header1 {
	background-image: url(bg_header1.png);
	background-color: #CCCCCC;
	color: #FFFFFF;
	font-weight: bold;
	height: 28px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

/* Links in header1 */
tr.header1 a		{color:#FFFFFF;text-decoration:none}
tr.header1 a:hover	{color:#CCCCCC;text-decoration:none}

/* Header 2 - Sub header */
.header2 {
	background-image: url(bg_header2.png);
	background-color: #CCCCCC;
	color: #000000;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.header2 a:
{
color: #0099CC
}
.header2 a:hover
{
color: #00CC66
}

/* Footer1 - Bottom of tables */
.footer1 {
	background-image: url('bg_footer1.png');
	font-size: 7pt;
	height: 28px;
}

.footer1 select, .footer1 td
{
	font-size: 7pt;
}

/* Header of posts */
.postheader 
{
	background-color: #E9EAEA;
}

/* User info and post/article */
.post 
{
	background-color: #EDEDED;
}
.post2
{
	background-color: #E4E4E4;
}

/* Footer of posts */
.postfooter 
{
    background-color: #D3DADE;
}

/* Area between posts */
.postsep 
{
	background-color: #5B84A0;
	height: 1px 
}

/* most tables are class 'content' */
.content {
	font-family: verdana;
	font-size: 8pt;
	border: 0px solid #2163E8;
	color: #000000;
	padding: 0px;
	background-color: #333333;
}

.content td {
	padding: 5px;
}

/* links inside content table*/
.content a			{ color: #666666; text-decoration: underline; }
.content a:hover	{ color: #CCCCCC; text-decoration: underline; }

/* used for quoting messages */
.quote 
{
	margin-left: 16px;
	padding-left: 16px;
}

.quoteinner 
{
	padding: 4px;
	background-color: #CCCCCC;
	border: 1px solid #666666;
}

/* font sizes */
.smallfont a	{ font-size: 7.5pt; }


.cfont a	{ }
.cfont a:hover	{
	color: #D6E0E2;
}

.largefont	{ font-size: 9pt; }

/* Image Links */
a.imagelink 
{
	font-size: 8pt;
	font-weight: bold;
	color: #000080;
}
a:hover.imagelink
{
	text-decoration: underline;
	color: #0000FF;
	/*background-color: #D0D0D0;*/
}

/* Used for editor textarea */
.posteditor 
{
	width: 100%;
	height: 200px;
	font-family: Verdana;
	font-size: 8pt;
}

/* Table just above and below tables */
table.command 
{
	/*border: solid 1px blue;*/
	padding: 3px;
}

/* p-tag at the top of pages with navigation links */
.navlinks { font-weight: bold; color: #000000; }
.navlinks a { color: #000080; text-decoration: none }
.navlinks a:hover { color: #808080; }

/* for printing */
.print 
{
	border: solid 1px #C0C0C0;
}
.printheader 
{
	background-color: #DDDDDD;
	color: #000000;
	padding: 4px;
}
.printbody 
{
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
}