@page "{handler?}"
@using YAF.Web.HtmlHelpers
@model DigestModel

<form method="post">
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-3">
                <div class="card-header">
                    @Html.IconHeader("envelope","ADMIN_DIGEST","TITLE")
                </div>
                <div class="card-body">
                    <div class="row">
	                    <div class="mb-3 col-md-4">
		                    <div class="form-check form-switch">
			                    <input asp-for="@Model.PageBoardContext.BoardSettings.AllowDigestEmail" class="form-check-input" role="switch" />
			                    <label class="form-check-label" asp-for="@Model.PageBoardContext.BoardSettings.AllowDigestEmail"
			                           localized-tag="DIGEST_ENABLED" localized-page="ADMIN_DIGEST"></label>
		                    </div>
	                    </div>
                        <div class="mb-3 col-md-4">
	                        <label class="form-label" 
	                               localized-tag="DIGEST_LAST" localized-page="ADMIN_DIGEST" asp-for="LastSend"></label>
	                        <input type="text" class="form-control" asp-for="LastSend" disabled>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button asp-page-handler="ForceSend" button-style="Primary"
                                 Icon="paper-plane" text-localized-tag="FORCE_SEND">
                </button>
            </div>
        </div>

            <div class="card mb-3">
                <div class="card-header">
                    @Html.IconHeader("envelope","ADMIN_DIGEST","HEADER3")
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label" 
                                       asp-for="TextSendEmail"
                                       localized-tag="DIGEST_EMAIL" localized-page="ADMIN_DIGEST"></label>
                        <input type="email" asp-for="TextSendEmail"  
                                     class="form-control"/>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button asp-page-handler="TestSend" 
                            button-style="Primary"
                            Icon="paper-plane" 
                            text-localized-tag="SEND_TEST">
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>