<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net40" />
  <package id="ServiceStack.Common.Signed" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.OrmLite.Signed" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.OrmLite.SqlServer.Signed" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.Text.Signed" version="4.0.56" targetFramework="net452" />
</packages>