<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Common.Signed" version="4.5.12" targetFramework="net451" />
  <package id="ServiceStack.Interfaces" version="4.5.12" targetFramework="net451" />
  <package id="ServiceStack.OrmLite.Signed" version="4.5.12" targetFramework="net451" />
  <package id="ServiceStack.Text.Signed" version="4.5.12" targetFramework="net451" />
</packages>