/*
	This File is for basic LAYOUT CSS -- Not for Color/Design which should stay in the theme.css file
*/

.PopupBody
{
	margin: 0;
	padding: 0;
}

.PopupBody .ShoutBoxPanel .content
{
	position:absolute;
	top: 5px;
	bottom:0px;
	right:0px;
	left:5px;
	height:97%;
	width:99%;
	min-height:300px;
}
#shoutBoxChatArea {
	overflow-y: auto;
	height:150px;
	min-width:500px;
	width: 99%; 
	padding: 0; 
	margin: 0;
}
.yafnet
{
	padding: 5px;
}
.yafnet .quickReplyLine
{	
	padding: 5px 10px 5px 5px;
    height:100%;
}
.yafnet textarea.basicBBCodeEditor 
{
	width: 100%;
	height: 100%;
}
.yafnet textarea.BBCodeEditor 
{
	width: 100%;
	height: 350px;
}
.yafnet #DivForumJump
{
	float:right;
}
.yafnet #ForumSearchDiv
{
	display:inline;
	float:left;
}
.yafnet #DivPageAccess
{
	clear:right;
	float:right;
	margin-top: 10px;
}
.yafnet #DivIconLegend
{
	float:left;
	margin-top: 10px;
}
.yafnet .leftItem
{
    float:left;
}
.yafnet .rightItem
{
    float:right;
}
.yafnet .postNavigation td
{
    text-align:right;
}
.yafnet .clearItem
{
    clear:both;
}
.yafnet #DivSmartScroller
{
	clear:both;
}
.yafnet .postsep td
{
	padding:0px;
}
.yafnet .yafpopupmenu
{
	padding:0px;
}
.yafnet .fileattach
{
	margin: 15px 0px 0px 0px;
}
.yafnet #yafprofilemenu
{
	float:left;
	width: 150px;
	margin: 5px 5px 5px 0px;
}
.yafnet #yafprofilecontainer
{

}
.yafnet .RssFeedIcon
{
	margin-left: 5px;
}
.yafnet #yafhelpmenu ul
{
    list-style: none;
}
.yafnet #yafprofilemenu
{
	width: 19%; float: left; clear: left;
}
.yafnet #yafheaderEnd
{
    clear:both;
}
.yafnet .loggedInUser
{
    float: right;
}
.yafnet .outerMenuContainer
{
    float: left;
    width: 100%;
    line-height:30px;
}
.yafnet .menuContainer
{	
    float: left;
}
.yafnet .menuMyContainer
{
	float: right;
}
.yafnet #yafheader ul
{   
    display: inline; 
    list-style: none;
    margin: 0;
    padding:0;
}
.yafnet #yafheader .loggedInUser,
.yafnet #yafheader .menuContainer
{
    display: inline;
}

.yafnet #yafheader li
{
    display: inline;
    padding: 2px 3px 2px 3px;    
}

.yafnet .QuickSearch
{
	display:inline;
	float:right;
	padding: 0px 4px 0px 4px;
}
.yafnet #yafprofilecontent
{
	margin: 5px 0px 5px 0px;
	width: 80%; float: right;
}
.yafnet td.forumIconCol
{
	width: 1%;
}
.yafnet .threadedRowCollapsed .avatarimage
{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    padding: 1px;	
    border: 1px solid #666;
    margin-right: 8px;    
}
.yafnet .forumLinkCol .forumheading,
.yafnet .forumLinkCol .forumviewing
{
	display: inline;
}
/* Exception: Default CSS for Syntaxt Highlighting */
.yafnet .yafcodehighlighting .keytype { color : #FF9933; font-weight : normal; }
.yafnet .yafcodehighlighting .keyword { color : #224FFF; font-weight : normal; }
.yafnet .yafcodehighlighting .integer { color : #FF0032; }
.yafnet .yafcodehighlighting .comment { color : #008100; }
.yafnet .yafcodehighlighting .errors { color : #FF0000; font-weight : bold; }
.yafnet .yafcodehighlighting .string { color : #FF0022; }

/* Exception: Admin Styling */
.yafnet .adminContainer
{
	width: 100%;
}
.yafnet .adminMenu
{
	padding: 5px;
}
.yafnet .adminMenuAccordian
{
	width: 200px;	
}
.yafnet .adminMenu ul
{
	margin: 0;
	padding: 0;	
}
.yafnet .adminMenu li img
{
	vertical-align: bottom;
}
.yafnet .adminMenu li
{
	white-space:nowrap;
	font-size: 10pt;
	border-bottom: 1px solid #eee;
	padding-bottom: 4px;
	margin-bottom: 5px;
}
.yafnet .helpContent,
.yafnet .adminContent
{
	width: 100%;
	vertical-align: top;
	padding-left: 5px;
}
.yafnet .quotetitle {
	font-weight:bold;
}
.yafnet .yafpopupmenu ul,
.yafnet .yafpopupmenu li,
.yafnet .adminContent li,
.yafnet .ui-helper-reset li,
.yafnet .postOptions li {
	list-style-type: none;
}
.yafnet .PopMenuLink,
.yafnet .UserPopMenuLink,
.yafnet .GoToLink {
	cursor: pointer;
    margin: 0 0 0 5px;
	padding: 2px 15px 2px 4px;
}

.yafnet .PrevTopicLink {
    margin-left: 5px;
    padding: 2px 4px 2px 15px;
}

.yafnet .NextTopicLink {
    margin-left: 5px;
    padding: 2px 15px 2px 4px;
	float:right;
}
.yafnet .pagination { font-size: 90%;text-align:center;margin-lefT:4px}

.yafnet .pagination .smiliesPagerNext {float:right}
        
.yafnet .pagination a, .yafnet .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.yafnet #SmiliesBox {
	display:block;
	overflow:auto;
	min-width:180px;
	min-height:100px;
}

.yafnet .smilesBox
{
    padding: 0 !important;
}
.yafnet .SmilieList {
	margin:4px;
	padding:4px;
}
.yafnet .SmilieList li {
	list-style:none;
	float: left;
	padding: 0px;
	margin:0px;
    width:40px;
	height:40px;
}
.yafnet .SmilieList li a{
    display:block;
    text-decoration:none;
}
.yafnet .edit
{
    width: 98%;
}

#yafpage_shoutbox {height:100%;}

.yafnet .UnreadBox {position:relative;display:inline;}

.yafnet .postdiv {position:relative}

.yafnet .yafsignature {position:absolute;bottom:0;left:0;right:0;}

.LastPosts  .yafsignature {position:relative;}

/* Alpha Sort Control */
.yafnet .AlphaSort {width: 100%;display:inline-block;}

.yafnet dl.AlphaSort dt {padding-left:5px;height:30px;}

.yafnet dl.AlphaSort dd {float:left;width:20px;height:15px;text-align:center;margin:10px 4px 10px 4px}

.yafnet dl.AlphaSort dd a {text-decoration:none}