/* Wizard Theme File */
.lined {
	border-bottom: solid 1px#999;
	padding-bottom: 3px;
}

.wizNav {
	border-top: solid 1px#999;
	padding-top: 3px;
}
.errorinfo {
	color: Red;
	font-weight: bold;
}
.successinfo {
	color: Green;
	font-weight: bold;
}
.wizButton {
	border: none;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: baseline;
	margin: 10px 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100%Arial,Helvetica,sans-serif;
	padding: .1em 0.5em.1em;
	-webkit-text-shadow: 0 1px 1px #000000;
	text-shadow: 0 1px 1px #000000;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px #000000;
	-moz-box-shadow: 0 1px 2px #000000;
	box-shadow: 0 1px 2px #000000;
	color: #fff;
	background: url('HeaderBack.png') #333 bottom;
	background: -webkit-gradient(linear,left top,left bottom,from(#446bb8),to(#2a4985));
	background: -moz-linear-gradient(top,#446bb8,#2a4985);
	background: -o-linear-gradient(top,#446bb8,#2a4985);
}

.wizButton:hover {
	color: #ffffff;
	text-decoration: none;
	background: #000;
	background: -webkit-gradient(linear,left top,left bottom,from(#444),to(#000));
}

.wizLoader {
	position: absolute;
	z-index: 9999;
}
.wizHeader {
	background: white;
	font-weight: bold;
	font-size: 0.9em;
	color: black;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
#wizContainer {
	width: 650px;
	border: 1px solid black;
	border-radius: 0.4em;
	-moz-box-shadow: 3px 3px 3px#c3c3c3;
	-webkit-box-shadow: 3px 3px 3px#c3c3c3;
	box-shadow: 3px 3px 3px#c3c3c3;
	margin: 0 auto;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#cccccc');
	background: url(Background.png)#ccc bottom repeat-x;
	background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#ccc));
	background: -moz-linear-gradient(top,#fff,#ccc);
	background: -o-linear-gradient(top,#fff,#ccc);
}
#wizContainer input[type=password], #wizContainer input[type=text] {
	border: 1px solid black;
	background: white;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	margin: 5px;
}
.wizMain td:first-child {
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
}
.wizMain td {
	padding: 10px;
}
.wizMain {
	margin: 0 auto;
}

	