@page "{u:int}"

@using YAF.Web.HtmlHelpers
@model JabberModel

<div class="row">
    <div class="col-xl-12">
        <h2>
            @Html.LocalizedText("IM_XMPP", "TITLE")
        </h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <alert type="@Model.AlertType" icon="info-circle" message="@Model.Message" class="text-center"></alert>
    </div>
</div>