@page "{code}/{handler?}"
@using YAF.Web.HtmlHelpers
@model YAF.Pages.Account.ResetPasswordModel

<div class="row">
    <div class="col">
        <form method="post" class="needs-validation" novalidate>
            <div class="card w-25 mx-auto">
                <div class="card-header">
                    @Html.IconHeader("key", "ACCOUNT_RESEST_PASSWORD", "TTILE")
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="Input.Email" class="form-label"
                               localized-page="LOGIN" localized-tag="EMAIL">
                        </label>
                        <input asp-for="Input.Email" class="form-control" required />
                        <div class="invalid-feedback">
                            <span asp-validation-for="Input.Email"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label"
                               localized-page="LOGIN" localized-tag="PASSWORD">
                        </label>
                        <input asp-for="Input.Password" class="form-control" required />
                        <div class="invalid-feedback">
                            <span asp-validation-for="Input.Password"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.ConfirmPassword" class="form-label"
                               localized-page="LOGIN" localized-tag="CONFIRM_PASSWORD">
                        </label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" required />
                        <div class="invalid-feedback">
                            <span asp-validation-for="Input.ConfirmPassword"></span>
                        </div>
                    </div>
                    <div class="mb-3 d-grid gap-2">
                        <button type="submit" button-style="Primary"
                                icon="key"
                                text-localized-page="ACCOUNT_RESET_PASSWORD"
                                text-localized-tag="TITLE">
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptPartial")
}