@using YAF.Core.Context
@using YAF.Core.Model
@using YAF.Web.HtmlHelpers
@using YAF.Types.Interfaces
@using YAF.Types.Models

@inject BoardContext Current

@{ 
    var activeUsers = Current.GetRepository<Active>().ListForum(Current.PageForumID);
}

<div class="card">
    <div class="card-header">
        @Html.LocalizedText("FORUMUSERS")
    </div>
    <div class="card-body">
        @Html.ActiveUsers(activeUsers)
    </div>
</div>