@using YAF.Core.Context
@using YAF.Core.Extensions
@using YAF.Core.Helpers
@using YAF.Core.Utilities
@using YAF.Web.HtmlHelpers
@using YAF.Types.Constants
@using YAF.Types.Interfaces

@inject BoardContext Current

@if (Current.BoardSettings.ShowQuickSearch && BoardContext.Current.Get<IPermissions>().Check(Current.BoardSettings.SearchPermissions))
{
	<script>
		@Html.Raw(JsAndCssHelper.CompressJavaScript(JavaScriptBlocks.DoQuickSearchJs(Current.Get<ILinkBuilder>().GetLink(ForumPages.Search))))
	</script>

    <div class="d-flex">

		<input id="QuickSearch" class="form-control me-2" type="search" onkeydown="@Html.Raw(JavaScriptBlocks.ClickOnEnterJs("QuickSearchBtn"))"
	           placeholder="@Html.LocalizedText("TOOLBAR", "SEARCHKEYWORD")"/>
	    <button type="submit"
				id="QuickSearchBtn"
	            button-style="OutlineInfo"
	            title-localized-tag="SEARCH"
	            onclick="quickSearch()"
	            icon="search">
	    </button>
    </div>
}