@using YAF.Web.HtmlHelpers

<div class="scroll-top">
    <button class="btn btn-outline-secondary btn-sm btn-scroll" title="Scroll to top" type="button">
        @Html.Icon("angle-double-up")
    </button>
</div>