body, td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
}

input{font:8pt Verdana,Arial,Helvetica,sans-serif}

select{background:#ffffff;font:8pt Verdana,Arial,Helvetica,sans-serif}

textarea{background:#ffffff;border:1px solid #000000;
font:8pt Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}

form{display:inline}

input{border:1px solid #606060;font-size:8pt}

input.pbutton{background:#ffffff;}

/*  */
img 
{
	border: 0;
}

/* hyperlinks */
a			{ text-decoration: none; color: #000080; }
a:hover		{ text-decoration: underline; }

/* Header 1 - Main header */
.header1 {
	background-image: url('bg_header1.png');
	background-color: #7D8CFF;
	color: #FFFFFF;
	font-weight: bold;
	height: 32px;
	font-size:12px;
}

/* Links in header1 */
tr.header1 a		{color:#FFFFFF;text-decoration:none}
tr.header1 a:hover	{color:#C0C0FF;text-decoration:none}

/* Header 2 - Sub header */
.header2 {
	background-image: url('bg_header2.png');
	background-color: #7D8CFF;
	color: #000000;
	font-weight: bold;
	height: 28px;
}

/* Footer1 - Bottom of tables */
.footer1 {
	background-image: url('bg_footer1.png');
	font-size: 7pt;
	height: 28px;
}

.footer1 select, .footer1 td
{
	font-size: 7pt;
}

.postformheader 
{
	background-color: #B2C8F6;
	font-weight:bold;
}

/* Header of posts */
.postheader 
{
	background-color: #B2C8F6;
}

/* User info and post/article */
.post 
{
	background-color: #CFDDF8;
}

.post_priority
{
	font-weight:bold;
}

.post_link
{
	font-weight: bold;
}

/* Footer of posts */
.postfooter 
{
    background-color: #95B4F3;
}

/* Area between posts */
.postsep 
{
	background-color: #2163E8;
	height: 1px 
}

/* most tables are class 'content' */
.content {
	font-family: verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
	border: solid 1px #2163E8;
	color: #000000;
	padding: 0px;
	background-color: #FFFFFF;
}

.content td {
	padding: 3px;
}

#RichEdit td 
{
	padding: 0px;
}

/* links inside content table*/
.content a			{ color: navy; text-decoration: underline; }
.content a:hover	{ color: #000000; text-decoration: none; }

/* used for quoting messages */
.quote 
{
	margin-left: 16px;
	padding-left: 16px;
}

.innerquote 
{
	padding: 4px;
	background-color: #B2C8F6;
	border: solid 1px #95B4F3;
}

/* used for code */
.code
{
	margin-left: 16px;
	padding-left: 16px;	
}

.innercode
{
	padding: 4px;
	background-color: #B2C8F6;
	border: solid 1px #95B4F3;
	color:#014C00;
	font-family:Courier New,Courier;
}

/* font sizes */
.smallfont	{ font-size: 7.5pt; }
.largefont	{ font-size: 9pt; }

/* Image Links */
a.imagelink 
{
	font-size: 8pt;
	font-weight: bold;
	color: #000080;
}
a:hover.imagelink
{
	text-decoration: underline;
	color: #0000FF;
	/*background-color: #D0D0D0;*/
}

/* Used for editor textarea */
.posteditor 
{
	width: 100%;
	height: 200px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
}

/* Table just above and below tables */
table.command 
{
	/*border: solid 1px blue;*/
	padding: 3px;
}

/* p-tag at the top of pages with navigation links */
.navlinks { font-weight: bold; color: #000000; }
.navlinks a { color: #000080; text-decoration: none }
.navlinks a:hover { color: #808080; }

/* for printing */
.print 
{
	border: solid 1px #C0C0C0;
}
.printheader 
{
	background-color: #DDDDDD;
	color: #000000;
	padding: 4px;
}
.printbody 
{
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
}