<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"></remove>
      <add name="ADO.NET Provider for SQLite"
           invariant="System.Data.SQLite"
           description="ADO.NET Provider for SQLite "
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite">
      </add>
    </DbProviderFactories>
  </system.data>
</configuration>