name: build dotnet
on:
  push:
    branches:
      - master
      
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '7.0.x' ]

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Install dependencies
        run: dotnet restore .\yafsrc\YAF.NET-SqlServer.sln
      - name: Build
        run: dotnet build .\yafsrc\YAF.NET-SqlServer.sln
      - name: Test
        run: dotnet test .\yafsrc\YAF.NET-SqlServer.sln