name: YAF.NET v3.2.x (.NET Framework v4.8.1)
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: netfx

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2
      with:
        vs-version: '18'

    - name: Restore Packages
      run: dotnet restore ./yafsrc/YAF.NET-SqlServer.slnx

    - name: Build Solution
      run: msbuild ./yafsrc/YAF.NET-SqlServer.slnx -t:rebuild -property:Configuration=Release